.margin-center{
	margin: 0 auto;

}
@for $i from 1 through 15 {
  .column-#{$i} {
    width : (63*$i)+(20*$i)-20+px;
  }
}
.flexbox{
	@include flexbox(flex-start,flex-start);
	flex-wrap: wrap;
	&--start{
		@extend .flexbox;
		justify-content: start;
	}
	&--h-center{
		@extend .flexbox;
		justify-content: center;
	}
	&--h-bottom{
		@extend .flexbox;
		justify-content: flex-end;
	}
	&--v-center{
		@extend .flexbox;
		align-items: center;
	}
	&--v-bottom{
		@extend .flexbox;
		align-items: flex-end;
	}
	&--spacebetween{
		@extend .flexbox;
		justify-content: space-between;
	}
	&--spacearound{
		@extend .flexbox;
		justify-content: space-around;
	}
	&--streach{
		@extend .flexbox;
		align-items: stretch;
	}
}
.four-col-last-left{
	.post-lists::before{
	  content:"";
	  display: block;
	  width:23%;
	  order:1;
	}
	.post-lists::after{
	  content:"";
	  display: block;
	  width:23%;
	}
}
//テキストの中央化
.text-centering-pearent{
display: table;
margin: auto;
}
.text-centering-child{
display: table-cell;
vertical-align: middle;
}

//写真に白枠をいれる
.pic-frame-white{
		border: 9px solid #ffffff;
		margin-bottom: 10px;
	img {
		display: block;
		object-fit: cover;
		width: 100%;
	}
}

//ボタン
.btn{
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
	color: #fff;
}
.btn:hover,
a .btn :hover {
	opacity: 0.5 ;
	color: #fff;
}

.btn--orange,
a .btn--orange{
  background-color: #f8bb86;
}

.btn--pink,
a .btn--pink {
  background-color: $pink_02;
}

.btn--yellow,
a .btn--yellow {
  background-color: $yellow_02;
}

.btn-copy {
	color: #333;
	font-size: 0.7rem;
	font-weight: bold;
	position: relative;
	margin-bottom: 0.2em;
	text-align: center;
	text-shadow: 1px 2px 3px #e4e4e4;
}
.btn-copy:before {
  margin-right: 0.7rem;
  content: '＼';
}
.btn-copy:after {
  margin-left: 0.7rem;
  content: '／';
}



//メガメニュー
#gnav > ul {
  display: table;
  padding-left: 50px;
}
#gnav > ul > li {
  display: table-cell;
  margin-right: 2em;
}
#gnav > ul > li:hover {
  background-color:  #ffc9bc;
}

#gnav > ul > li:hover > a {
  color: #fff;
}
#gnav > ul > li:hover .menu {
  max-height: 9999px;
  opacity: 1;
}
#gnav > ul > li > a {
  display: block;
  padding: 21px 1em 21px;
  transition: all .2s ease-in;
}
#gnav > ul .menu {
  transition: all .2s ease-in;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  width: 100%;
	min-width: 1260px;
  left: 0;
  position: absolute;
	background-color: #ffc9bc;
	z-index: 5000;
	font-size: 1em;
	padding: 0 40px;
}
#gnav > ul .menu .menu_inner {
  padding: 1em 0;
}
#gnav > ul .menu .menu_inner li {
  display: inline-block;
  margin: 0 .5em;
}
#gnav > ul .menu a {
  color: #fff;
}
