<?php /** *  Template Name:  aboutページ */ ?>
<?php include('head.php'); ?>
%body
  .pages.about-page.outer
    <?php include('components-php/header02.php'); ?>
    <?php include('components-php/header-sp.php'); ?>
    .outer__inner
      .pages__container
        .mission
          %h1.pages__header
            アメリカから『ワクワクな未知なる世界』をいっぱいお届けしたい。
          %p.pages__read
            はっちすたじおは、アメリカで暮らす人たちが、分け隔てなく自由に出会えて、遊べる場所があったらいいな。というただの好奇心から始まりました。バークレーという土地で生まれ、全米の多くの学生さんたちが関わり、次なる新しい人たちがもっと自由に遊べるようにといろんな情報を届けてくれました。
            そんな遊び場が次世代へ続くようにと、日本や現地のみんなにアメリカから未知なる日常のコンテンツをたくさんお届けできたら嬉しいです。
          .yuka-sign__img
            <img src="<?php echo get_template_directory_uri(); ?>/images/yuka-sign.svg">
          .pages__date-info
            %p
              2014年 6月 28日
            %p
              Berkeley CA USA

        .table-info
          %table
            %tr
              %td
                会社名
              %td
                Hatchstudio inc
            %tr
              %td
                設立
              %td
                2019年 7月16日
            %tr
              %td
                現所在地
              %td
                Portland USA
            %tr
              %td
                最高経営責任者
              %td
                Yuca Suzuki
            %tr
              %td
                業務内容
              %td
                自社メディア運用事業
                %br
                Webサイト&動画制作事業（デザイン/システム開発）
                %br
                コンテンツ制作事業（企画/マーケティング/広告）
                %br
                ゲストハウス＆シェアハウス「はっちんぐはうす」運営
                %br
                翻訳事業（英語/中国）
                %br
                不動産仲介サポート事業




    .outer__inner
      .articles__container__bottom.flexbox--spacebetween
        .bt-left
          <?php include('components-php/bt-news-lists.php'); ?>
        .bt-right
          <!-- ?php include('components-php/affiliate-ad-article.php'); ? -->
          <?php include('components-php/bt-popular-month.php'); ?>


    <p id="PageTopBtn"><a href="#wrap">TOPへ</a></p>
    .bottom-container
      <?php include('components-php/annie-banner.php'); ?>
      <?php include('components-php/service.php'); ?>

      <?php include('components-php/business-sp.php'); ?>
      <?php include('components-php/annie-sp.php'); ?>

      <?php include('components-php/footer.php'); ?>
      <?php include('components-php/footer-sp.php'); ?>
