.affiliate-ad.test
  :plain
    <!-- 広告 -->
    <!-- 四角はっち公告 -->
    <!-- script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
      style="display:inline-block;width:336px;height:280px"
      data-ad-client="ca-pub-1574488309106788"
      data-ad-slot="5136876359"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script -->
    <!-- 広告 -->
