.affiliate-ad.flexbox--spacearound
  :plain
    <!-- レンダリング（大）２並び広告 -->
    <!-- 四角はっち公告 -->
    <div>
      <!-- レンダリング（大）336 280　入れる -->
    </div>
    <!-- 四角はっち公告 -->
    <div>
      <!-- レンダリング（大）336 280　入れる -->
    </div>
