.affiliate-ad-one
  :plain
    <!-- レンダリング（大）336 280　入れる -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- レンダリング（大）336 280 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:336px;height:280px"
         data-ad-client="ca-pub-1574488309106788"
         data-ad-slot="5652431527"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <!-- レンダリング（大）336 280　入れる -->
