.bottom-popular.affiliate-ad-article
  .header-side
    .header-side__title
      おすすめ
      <i class="fas fa-heart"></i>
      関連記事
  .bottom-popular__body.flexbox--spacebetween
    :plain
      <!-- 関連記事広告 -->
      <!-- 関連記事広告 -->
