.bottom-popular.affiliate-ad-article
  .header-side
    .header-side__title
      おすすめ
      <i class="fas fa-heart"></i>
      関連記事
  .bottom-popular__body.flexbox--spacebetween
    :plain

      <!-- 関連記事広告 -->
      <!-- script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
           style="display:inline-block;width:720px;height:600px"
           data-ad-client="ca-pub-1574488309106788"
           data-ad-slot="6634270890"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script -->
      <!-- 関連記事広告 -->
