.ad-banner.annie.flexbox
  .annie-img
    <img src="<?php echo get_template_directory_uri(); ?>/images/annie-banner.jpg">
  .annie-content
    .annie-header-sub
      姉妹サイトOPEN!!
    .annie-header-main
      旅するように暮らそう。
    .annie-header-txt
      オーガニックで自由な暮らしをお届けするマガジン
    %button.btn.btn-round-white
      サイトはこちらから