.bottom-popular.two-column-sp
  .header-side
    .header-side__title
      人気月間検索
      <i class="fas fa-fire"></i>
      トレンド記事
  .bottom-popular__body.flexbox--spacebetween
    :plain
      <div class="google-ads">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:inline-block;width:826px;height:600px"
             data-ad-client="ca-pub-1574488309106788"
             data-ad-slot="7469499208"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      
