.business-ad-side
  .business-content
    .business-header-txt
      広告掲載＆コラボ 記事広告のご依頼 ご相談はこちら。
    .business-body.flexbox
      .business-img
        <img src="<?php echo get_template_directory_uri(); ?>/images/yman.svg">

      %button.btn.btn-round-white
        サイトはこちらから




