.business-ad-side.business
  .business-content
    .business-header-txt
      広告掲載＆コラボ 記事広告のご依頼 ご相談はこちら。
    %button.btn.btn-round-white
      サイトはこちらから
  .business-img
    <img src="<?php echo get_template_directory_uri(); ?>/images/yman.svg">
