%section.section.ad-banner.business
  .business__container
    %p.business-txt
      広告掲載＆コラボ、記事広告のご依頼、ご相談はこちら。
    %div
      %button.btn.btn-round-white-02
        <a href="<?php echo esc_url( home_url( '/contents' ) ); ?>">お問い合わせはこちら</a>
