.this-page
  .this-page__title.components-title
    カテゴリー/エリアで探す
  .this-page__tags.keywords
    %span.tag
      %a
        サンフランシスコ
    %span.tag
      %a
        バークレー
    %span.tag
      %a
        UCバークレー大学
    %span.tag
      %a
        ポートランド
    %span.tag
      %a
        ニューヨーク
    %span.tag
      %a
        ハワイ
    %span.tag
      %a
        お知らせ/募集
    %span.tag
      %a
        シェアハウス        
