.this-page
  .this-page__title.components-title
    カテゴリー/エリアで探す
  .this-page__tags.keywords.flexbox
    .tag
      :plain
        <a href="<?php bloginfo('url'); ?>/archives/category/sanfrancisco/">
        サンフランシスコ/バークレー
        </a>
    .tag
      :plain
        <a href="<?php bloginfo('url'); ?>/archives/category/newyork/">
        ニューヨーク
        </a>
    .tag
      :plain
        <a href="<?php bloginfo('url'); ?>/archives/category/portland/">
        ポートランド
        </a>
    .tag
      :plain
        <a href="<?php bloginfo('url'); ?>/archives/category/hawaii/">
        ハワイ
        </a>
    .tag
      :plain
        <a href="<?php bloginfo('url'); ?>/archives/category/info/">
        お知らせ/募集
        </a>
    .tag
      :plain
        <a href="<?php bloginfo('url'); ?>/archives/category/sharehouse/">
        シェアハウス
        </a>
