.this-page
  .this-page__title.components-title
    カテゴリー/エリアで探す
  .this-page__tags.keywords.flexbox
    .tag
      %a
        サンフランシスコ
    .tag
      %a
        バークレー
    .tag
      %a
        UCバークレー大学
    .tag
      %a
        ポートランド
    .tag
      %a
        ニューヨーク
    .tag
      %a
        ハワイ
    .tag
      %a
        お知らせ/募集
    .tag
      %a
        シェアハウス
