%footer.footer-sp
  .outer__foot
    .footer-sp__header
      .background-draw.flexbox
        .background-draw__left
          <img src="<?php echo get_template_directory_uri(); ?>/images/header-img-left.svg">
        .background-draw__right
          <img src="<?php echo get_template_directory_uri(); ?>/images/header-img-right.svg">
    .footer-sp__bottom
      .footer-sp__bottom__container
        .footer-sp__logo
          .footer-sp__logo-img
            <a href="<?php echo esc_url( home_url( '/' ) ); ?>"><img src="<?php echo get_template_directory_uri(); ?>/images/logo-sky.svg" width="250"></a>
          .footer-sp__logo-txt
            Portland,USA
        .footer-sp__info
          %p.footer-sp__info__heder
            flowus
          %p.footer-sp__info__body
            はっちすたじおの最新記事をCHECK!
          .flexbox--spacebetween
            .sns-icons.flexbox
              .sns-icons__icon
                <a href="https://www.facebook.com/hatchstudioinc"><img src="<?php echo get_template_directory_uri(); ?>/images/facebook-icon.svg"></a>
              .sns-icons__icon
                <a href="https://twitter.com/hatchstudioinc"><img src="<?php echo get_template_directory_uri(); ?>/images/twitter-icon.svg"></a>
              .sns-icons__icon
                <a href="https://www.instagram.com/annie_jene/"><img src="<?php echo get_template_directory_uri(); ?>/images/instgram-icon.svg"></a>
    .copyright
      © ANNIE JENE. All Rights Reserved.
