<?php /** *  Template Name:  はっちんぐハウスPDXページ */ ?>
<?php include('head.php'); ?>

%body
  .house-page.pages.service-page
    .house-page__share-house
      <?php include('components-php/header02.php'); ?>
      <?php include('components-php/header-sp.php'); ?>
      .house-page__header
        %h1.house-page__header--jp
          初渡米！女性一人旅でも安心なゲストハウス
        .house-page__header--en.flexbox--v-center
          .sub-txt
            USA
          .main-txt
            HATCHING HOUSE
      .house-page__share-house__bg-img

      .house-page__share-house-sp
        <img src="<?php echo get_template_directory_uri(); ?>/images/hatching-house-pdx-bg.jpg">

      .outer__inner
        .house-page__body.pages__container
          .house-page__body__container
            %h2.house-page__body__header
              ポートランドで旅するように暮らせる『宿泊ゲストハウス』
            .house-page__body__pics.flexbox--spacebetween
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/hatching-house-pdx-01.jpg">
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/hatching-house-pdx-03.jpg">
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/hatching-house-pdx-02.jpg">
            .house-page__body__read
              ポートランドの暮らしは、自然の中に、都会的な洗練されたおしゃれなカフェがひっそりとあるような。ちょうどいい田舎暮らしをしている中にも何かワクワクするような新しいことが起こるような。自然の美しさと人間のクリエイティブがうまく調和されている街。
              英語ができなくても、女性ひとり旅でも、安心してポートランドで現地のシェアハウスのみんなと同じように『ポートランドの暮らし』を体験してほしい。暮らすように旅を満喫してほしい。との願い込めて作った『宿泊ゲストハウス Hatching House ポートランド』

              ポートランドの魅力を存分に感じながら、女性旅行者も安心して気軽に宿泊できるゲストハウスを目指して、たくさんの人に出会えることを楽しみにしています。

            %button.btn.btn-round-white-02
              <a href="http://hatchstudioinc.com/archives/23197"><i class="fas fa-sign-out-alt"></i>『宿泊ゲストハウス ポートランド』日常の暮らし様子はこちら</a>
          .house-page__body__container
            %h2.house-page__body__header
              ロケーション場所
            .house-page__body__pics.flexbox--spacebetween
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/hatching-house-pdx-04.jpg">
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/hatching-house-pdx-05.jpg">
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/hatching-house-pdx-06.jpg">
            .house-page__body__read
              ゲストハウスのすぐ目の前には、四季を楽しめる並木道。自然も十分に楽しめる安全な住宅街に囲まれた、ポートランドのSEエリア（Woodstock ウッドストック）という場所にあります。ポートランドの市内までは、車で15分、バスで乗り換えなし1本で38分くらいで行けます。近くにはリード大学があります。

              また、ゲストハウスから徒歩2分と13分のところにバス停があり、車がなくてもどこにでも行けて観光者にとっても便利です。ポートランドの交通機関は、とても発展しており、車内がとても綺麗で安全で、夜中12時まで走っています。女性一人でも安心して乗れます。
          .house-page__body__container
            .house-page__body__pics.flexbox--spacebetween
              .house-page__body__img.price-pic
                <img src="<?php echo get_template_directory_uri(); ?>/images/room-c.jpg">
              .house-page__body__img.price-pic
                <img src="<?php echo get_template_directory_uri(); ?>/images/room-b.jpg">
              .house-page__body__img.price-pic
                <img src="<?php echo get_template_directory_uri(); ?>/images/room-a.jpg">
            .house-page__body__read
              .flexbox--spacebetween
                .house-page__body__box
                  %ul.detail__lists.lists__plice
                    %li.lists__plice--title
                      お友達との節約旅行におすすめ♡
                      .lists__plice--title--room-name
                        1F/Cozy（コージー）/ROOM
                    %li.lists__plice--day
                      $26/1泊
                  %ul.detail__lists.lists__facility
                    %li
                      <i class="fas fa-bed"></i>
                      シングルサイズベット&ダブルベット
                    %li
                      <i class="fas fa-bath"></i>
                      共有シャワー、トイレ
                    %li
                      <i class="fas fa-user-plus"></i>
                      2名様の場合、1人あたり/$18で宿泊可能
                    %li
                      <i class="fas fa-award"></i>
                      長期割引あり(4ヵ月以上滞在 最大50%引)
                .house-page__body__box
                  %ul.detail__lists.lists__plice
                    %li.lists__plice--title
                      静かにゆったり♡ひとり旅におすすめ
                      .lists__plice--title--room-name
                        2F/Single (シングル) /ROOM
                    %li.lists__plice--day
                      $34/1泊
                  %ul.detail__lists.lists__facility
                    %li
                      <i class="fas fa-bed"></i>
                      シングルサイズベット
                    %li
                      <i class="fas fa-bath"></i>
                      共有シャワー、トイレ
                    %li
                      <i class="fas fa-user-plus"></i>
                      おひとりさまのみ
                    %li
                      <i class="fas fa-award"></i>
                      長期割引あり(4ヵ月以上滞在 最大50%引)
                .house-page__body__box
                  %ul.detail__lists.lists__plice
                    %li.lists__plice--title
                      プライベート重視♡カップルおすすめ
                      .lists__plice--title--room-name
                        2F/Queen（クィーン）/ROOM
                    %li.lists__plice--day
                      $58/1泊
                  %ul.detail__lists.lists__facility
                    %li
                      <i class="fas fa-bed"></i>
                      クィーンサイズベット
                    %li
                      <i class="fas fa-bath"></i>
                      プライベートトイレ＆バスルーム
                    %li
                      <i class="fas fa-user-plus"></i>
                      2名様の場合、1人あたり/$33で宿泊可能
                    %li
                      <i class="fas fa-award"></i>
                      長期割引あり(4ヵ月以上滞在 最大50%引)
                .house-page__body__detail
                  %h2.house-page__body__header
                    アメニティ・設備
                  .flexbox--spacebetween
                    %ul
                      %li
                        <i class="far fa-clock"></i>
                        チェックイン: 1PM-10PM
                      %li
                        <i class="fas fa-bell"></i>
                        チェックアウト: 11AMまで
                      %li
                        <i class="fas fa-suitcase"></i>
                        荷物のお預かりOK (事前予約要）
                      %li
                        <i class="fas fa-money-bill"></i>
                        当日ドル現金支払いのみ
                      %li
                        <i class="fas fa-ban"></i>
                        当日キャンセル可
                    %ul
                      %li
                        <i class="fas fa-wifi"></i>
                        WIFI（無料インターネット）
                      %li
                        <i class="fas fa-tshirt"></i>
                        クローゼット（ハンガー付）
                      %li
                        <i class="fas fa-shower"></i>
                        タオル、ドライヤー、トイレットペーパー
                      %li
                        <i class="fas fa-tint"></i>
                        洗濯機、乾燥機あり(洗剤は各自で用意)
                      %li
                        <i class="fas fa-utensils"></i>
                        共同キッチン（お皿など調理器具、冷蔵庫スペース）
                    %ul
                      %li
                        <i class="fas fa-smoking-ban"></i>
                        禁煙 (外庭でのみ喫煙可)
                      %li
                        <i class="fas fa-wind"></i>
                        エアコン暖房
                      %li
                        <i class="fas fa-parking"></i>
                        無料路上駐車場
                      %li
                        <i class="fas fa-car"></i>
                        オプション：有料送迎（事前予約要:1回$35）
            .house-page__body__notice.room-notice
              %h2.house-page__body__header
                注意事項
              %p.room-notice--title
                チェックアウト、チェックイン時間について
              %p.room-notice--txt
                チェックアウト、チェックイン時間は、基本的に[1PM-10PM]の間でお願いしておりますが、予約状況によっては、事前（ご予約の日の2日前まで）にご相談いただいているお客様のみ、ご都合の良い時間に合わせたチェックアウト、チェックイン時間帯合わせることができる場合がありますので、ご相談ください。事前にご相談がない上記時間以外のチェックアウト、チェックインは、自動キャンセルの対象とさせていて頂くことがございますのでご了承ください。
              %p.room-notice--title
                荷物のお預かりについて
              %p.room-notice--txt
                荷物のお預かりは、事前（ご予約の日の2日前まで）ご相談頂けてましたら、チェックイン時間外でも荷物をお預かりすることができる場合がありますのでご相談ください。 （例：到着がチェックイン開始時間よりも早くなりそうで、チェックインまでどこかで待つ必要があるが荷物だけは預かっていてもらいたい。等など)
              %p.room-notice--title
                お支払いについて
              %p.room-notice--txt
                お支払いは、お部屋に到着してから、基本的にアメリカドル現金でのみでお願いしております。（他にVenmo,米銀行小切手、米ペイパルの支払い可能）
              %p.room-notice--title
                ご予約手続きについて
              %P.room-notice--txt
                予約手続きについては、ご予約したい日にち、ゲストハウス到着予定時間を記入の上、以下の問い合わせフォームにて、ご連絡ください。6月-10月の観光シーズン中は、ご予約がすぐに埋まってしまうことがあるので早めのご予約をお願いしております。
              %p.room-notice--title
                すでに満室時のキャンセル待ちについて
              %P.room-notice--txt
                夏、秋の観光シーズン間は、3ヶ月先までご予約が埋まってしまうことが多いため、ご予約をお断り又は、キャンセル待ちとさせていただく事が多くなってしまっておりますので、早めのご予約をお勧めしています。又、キャンセル待ちを希望した場合、キャンセルが出次第すぐに優先してメールにてご連絡を差し上げております。
              %p.room-notice--title
                予約キャンセルついて
              %P.room-notice--txt
                予約キャンセルついては、ゲストハウスに到着後、お支払いいただく前であれば、いつでもキャンセルできます。ただし、お支払い後のキャンセル、ご返金はできかねますのでご注意ください。また、ご予約いただいている日のチェックイン時間[夜11pm]までに、ご連絡が取れない場合は、ご予約頂いている日にちを全てキャンセル扱いとさせて頂いております。
              %p.room-notice--title
                共同トイレ、シャワーの利用について
              %p.room-notice--txt
                ※Cozy（コージー）,Single(シングル)部屋は、共同トイレ、シャワーで入居者(男女)と共有になるため、時間帯によっては、混み合う場合がございますのでご了承ください。シャワー使用時間は、いつでも使用していただいて構いません。
              %p.room-notice--title
                洗濯機、乾燥機の使用時間について
              %p.room-notice--txt
                ※洗濯機、乾燥機は室内にあり、無料で使えますが、使用時間は、朝７時-夜11時の間のみさせて頂きます。洗剤とは各自で用意して頂くことになります。
              %p.room-notice--title
                キッチンの利用について
              %p.room-notice--txt
                ※キッチンは、いつでも自由にお使いいただけます。キッチンににおいてある調理器具（レンジ、フライパン、日本　製炊飯器、お鍋、お皿、コップ、箸、スプーン、フォーク、コーヒーメーカーetc）が使えます。また、冷蔵庫もゲスト専用のスペースがありますので、気軽にお使いくださいませ。
              %p.room-notice--title
                1F/Cozy/ROOMの部屋について
              %p.room-notice--txt
                ※Cozy(コージー)ROOMのお部屋は、一般的なドア付きの個室のお部屋とあまり変わりませんが、お家の一部をお部屋を改造して作った為、格安のお部屋です。ご了承いただける方のみご予約の方お願いいたします。
              %p.room-notice--title
                送迎サービスについて
              %p.room-notice--txt
                ※送迎を依頼する場合は、予めのご予約をお願い致しております。場合によっては、ご希望の日にちにお答えできかねる場合がありますので、早めのご予約をお願いいたします。送迎は、[ポートランド空港-シェアハウス]間の１回$35になります。支払いは、お部屋代の時にまとめて、現金のみで頂いております。
              %p.room-notice--title
                長期割引の適用について
              %p.room-notice--txt
                ※4ヶ月以上滞在の場合 長期割が適用できます。場合によっては、最大で50%割引ができますので、ご相談ください。また長期4ヶ月以上滞在の場合は、デポジット（１ヵ月分）を最初にいただく事になり、物破損、4ヶ月以内の退去などの違反がない限り、退去時に全額返金します。
              %p.room-notice--title
                WIFIインターネットの利用について
              %p.room-notice--txt
                ※インターネットは、お部屋に着いたらお部屋に書いてある『パスワード』でログインして頂ければ、無線でご自由に使えます。
              %p.room-notice--title
                ポートランドお家の水道水について
              %p.room-notice--txt
                ※飲み水等は、基本的にお家の水道水を飲み水として安心してお飲みになれます。ポートランドは、自然に囲まれていているだけあって、とっても安全で美味しく飲めます。
              %p.room-notice--title
                ※お部屋のご予約、ご質問等などお気軽に以下のお問い合わせフォームにて、ご相談ください。
            %button.btn.btn-round-white-02
              <a href="http://hatchstudioinc.com/archives/23197"><i class="fas fa-sign-out-alt"></i>『宿泊ゲストハウス ポートランド』日常の暮らし様子はこちら</a>
    <?php include('components-php/contact-form.php'); ?>
    <p id="PageTopBtn"><a href="#wrap">TOPへ</a></p>
    .bottom-container
      <?php include('components-php/annie-banner.php'); ?>
      <?php include('components-php/service.php'); ?>
      <?php include('components-php/business-sp.php'); ?>
      <?php include('components-php/annie-sp.php'); ?>
      <?php include('components-php/footer.php'); ?>
      <?php include('components-php/footer-sp.php'); ?>
