<?php /** *  Template Name:  はっちんぐハウスPDXページ */ ?>
<?php include('head.php'); ?>

%body
  .house-page.pages.service-page
    .house-page__share-house
      <?php include('components-php/header02.php'); ?>
      <?php include('components-php/header-sp.php'); ?>
      .house-page__header
        %h1.house-page__header--jp
          初渡米！女性一人旅でも安心なゲストハウス
        .house-page__header--en.flexbox--v-center
          .sub-txt
            USA
          .main-txt
            HATCHING HOUSE
      .house-page__share-house__bg-img

      .house-page__share-house-sp
        <img src="<?php echo get_template_directory_uri(); ?>/images/hatching-house-pdx-bg.jpg">

      .outer__inner
        .house-page__body.pages__container
          .house-page__body__container
            %h2.house-page__body__header
              ポートランドで旅するように暮らせる『宿泊ゲストハウス』
            .house-page__body__pics.flexbox--spacebetween
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/hatching-house-pdx-01.jpg">
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/hatching-house-pdx-03.jpg">
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/hatching-house-pdx-02.jpg">
            .house-page__body__read
              ポートランドの暮らしは、自然の中に、都会的な洗練されたおしゃれなカフェがひっそりとあるような。ちょうどいい田舎暮らしをしている中にも何かワクワクするような新しいことが起こるような。自然の美しさと人間の作り出アートがうまく調和されている街。

              英語ができなくても、女性ひとり旅でも、安心して、ポートランドで暮らす現地のシェアハウスのみんなと同じように『ひとつのお家』で暮らしてほしい。旅を満喫してほしい。との願い込めて作った『宿泊ゲストハウス Hatching House ポートランド』

              ポートランドの魅力を存分に感じながら、女性旅行者も安心して気軽に宿泊できるゲストハウスを目指して、たくさんの人に出会えることを楽しみにしています。

            %button.btn.btn-round-white-02
              <a href="http://hatchstudioinc.com/archives/23197"><i class="fas fa-sign-out-alt"></i>『宿泊ゲストハウス ポートランド』日常の暮らし様子はこちら</a>
          .house-page__body__container
            %h2.house-page__body__header
              ロケーション場所
            .house-page__body__pics.flexbox--spacebetween
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/hatching-house-pdx-04.jpg">
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/hatching-house-pdx-05.jpg">
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/hatching-house-pdx-06.jpg">
            .house-page__body__read
              ゲストハウスのすぐ目の前には、四季を楽しめる並木道。自然も十分に楽しめる安全な住宅街、ポートランドのSEエリアという場所にあります。ポートランドの市内までは、車で１５分、バス一本、乗り換えなしで38分くらいの場所あり、近くにはリード大学があります。

              家から徒歩2分と13分のところにバス停があり、車がなくてもどこにでも行けて観光者にとっても便利です。ポートランドの交通機関は、とても発展しており、車内がとても綺麗で安全で、夜中12時まで走っています。女性一人でも安心して乗れます。
          .house-page__body__container
            %h2.house-page__body__header
              宿泊費用とアメニティ・設備
            .house-page__body__price.flexbox--spacebetween
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/hatching-house-pdx-09.jpg">
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/hatching-house-pdx-08.jpg">
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/hatching-house-pdx-07.jpg">
            .house-page__body__pics.flexbox--spacebetween
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/room-c.jpg">
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/room-b.jpg">
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/room-a.jpg">
            .house-page__body__read
              .flexbox--spacebetween
                %ul.house-page__body__detail
                  %li
                    ６ヶ月以上滞在の場合 長期割適用 $450/１ヶ月
                  %li
                    2名様滞在の場合 1名様あたり $15/1泊
                  %li
                    <i class="fas fa-bed"></i>
                    キングサイズベット&シングルサイズベット
                  %li
                    タンス＆クローゼット
                  %li
                    <i class="fas fa-tint"></i>
                    洗濯機、乾燥機
                  %li
                    <i class="fas fa-mug-hot"></i>
                    タオル、ドライヤー
                  %li
                    <i class="fas fa-smoking-ban"></i>
                    禁煙(外の庭でのみ喫煙可能)
                  %li
                    <i class="fas fa-utensils"></i>
                    共同キッチン
                  %li
                    <i class="fas fa-car"></i>
                    オプション 送迎あり
                  %li
                    暖房&ファン
                %ul.house-page__body__detail
                  %li
                    ６ヶ月以上滞在の場合 長期割適用 $650/１ヶ月
                  %li
                    1名様のみ
                  %li
                    <i class="fas fa-bed"></i>
                    キングサイズベット&シングルサイズベット
                  %li
                    タンス＆クローゼット
                  %li
                    <i class="fas fa-tint"></i>
                    洗濯機、乾燥機
                  %li
                    <i class="fas fa-mug-hot"></i>
                    タオル、ドライヤー
                  %li
                    <i class="fas fa-smoking-ban"></i>
                    禁煙(外の庭でのみ喫煙可能)
                  %li
                    <i class="fas fa-utensils"></i>
                    共同キッチン
                  %li
                    <i class="fas fa-car"></i>
                    オプション 送迎あり
                %ul.house-page__body__detail
                  %li
                    ６ヶ月以上滞在の場合 長期割適用 $800/１ヶ月
                  %li
                    2名様滞在の場合 1名様あたり $15/1泊
                  %li
                    <i class="fas fa-bed"></i>
                    シングルサイズベット
                  %li
                    タンス＆クローゼット
                  %li
                    <i class="fas fa-tint"></i>
                    洗濯機、乾燥機
                  %li
                    <i class="fas fa-mug-hot"></i>
                    タオル、ドライヤー
                  %li
                    <i class="fas fa-smoking-ban"></i>
                    禁煙(外の庭でのみ喫煙可能)
                  %li
                    <i class="fas fa-utensils"></i>
                    共同キッチン
                  %li
                    <i class="fas fa-car"></i>
                    オプション 送迎あり
            .house-page__body__notice
              %p
                <i class="fas fa-exclamation-triangle"></i>
                注意書き
              %p
                ※写真イメージは、個室（大）お部屋には、プライベート用のシャワー、トイレがつきますが、個室(A)(B)のお部屋は、シャワー、トイレは共同になります。
              %p
                ※個室(B)のお部屋は、一般的なお部屋とあまり変わりませんが、もともとお家のガレージの一部のようなお部屋を改造して作った為、格安のお部屋です。ご了承いただける方のみご予約の方お願いいたします。また、個室(B)のお部屋は、ベットは2つございますので、ご友人との宿泊も便利だと思います。お部屋の写真を見たい方は、お問い合わせください。
              %p
                ※お部屋のご予約、ご質問等などお気軽に以下のお問い合わせフォームにて、ご相談ください。
            %button.btn.btn-round-white-02
              <a href="http://hatchstudioinc.com/archives/23197"><i class="fas fa-sign-out-alt"></i>『宿泊ゲストハウス ポートランド』日常の暮らし様子はこちら</a>

    <?php include('components-php/contact-form.php'); ?>

    <p id="PageTopBtn"><a href="#wrap">TOPへ</a></p>
    .bottom-container
      <?php include('components-php/annie-banner.php'); ?>
      <?php include('components-php/service.php'); ?>

      <?php include('components-php/business-sp.php'); ?>
      <?php include('components-php/annie-sp.php'); ?>

      <?php include('components-php/footer.php'); ?>
      <?php include('components-php/footer-sp.php'); ?>
