<?php /** *  Template Name:  はっちんぐハウスハワイページ */ ?>
<?php include('head.php'); ?>

%body
  .house-page.pages.service-page
    .house-page__share-house
      <?php include('components-php/header02.php'); ?>
      <?php include('components-php/header-sp.php'); ?>
      .house-page__header
        %h1.house-page__header--jp
          初渡米！女性一人旅でも安心な『ハワイ島』のゲストハウス
        .house-page__header--en.flexbox--v-center
          .sub-txt
            USA
          .main-txt
            HAWAII HOUSE
      .house-page__share-house__bg-img-hawaii

      .house-page__share-house-sp
        <img src="<?php echo get_template_directory_uri(); ?>/images/guest-house-hawaii/hatching-house-hawaii-bg.jpg">

      .outer__inner
        .house-page__body.pages__container
          .house-page__body__container
            %h2.house-page__body__header
              暮らすように旅をしよう『ハワイ島ヒロ』宿泊ハウス
            .house-page__body__pics.flexbox--spacebetween
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/guest-house-hawaii/hatching-house-hawaii-01.jpg">
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/guest-house-hawaii/hatching-house-hawaii-02.jpg">
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/guest-house-hawaii/hatching-house-hawaii-03.jpg">
            .house-page__body__read
              ハワイ島ヒロの暮らしは、古き良き昔ながらのノスタルジックな空間の中に大地の自然と気候に恵まれ、誰しも一度は憧れるのんびりとした田舎暮らしができる場所。都会の暮らしでは味わえないのんびりとした空間にハワイ島ならではの暮らしがそこにあります。

              英語ができなくても、女性ひとり旅でも、安心して気軽にハワイ島で『ヒロの暮らし』を体験してほしい。

              ハワイ島ヒロの魅力を存分に感じながら、女性旅行者も安心して気軽に宿泊できるゲストハウスを目指して、たくさんの人に出会えることを楽しみにしています。

            %button.btn.btn-round-white-02
              <a href="https://hatchstudioinc.com/?s=ハワイ島"><i class="fas fa-sign-out-alt"></i>『ハワイ島』の暮らし様子はこちら</a>
          .house-page__body__container
            %h2.house-page__body__header
              ロケーション場所
            .house-page__body__pics.flexbox--spacebetween
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/guest-house-hawaii/hatching-house-hawaii-04.jpg">
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/guest-house-hawaii/hatching-house-hawaii-05.jpg">
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/guest-house-hawaii/hatching-house-hawaii-06.jpg">
            .house-page__body__read
              ゲストハウスの歩いてすぐのところに、美しい虹がかかることで有名な観光スポット『レインボーの滝』があり、ヒロの大自然を近くで感じることができます。
              またヒロのダウンタウンにも歩いて行ける距離で、毎朝行われているハワイ島直産の新鮮な野菜や果物、ローカルの商品が安く買える『ファーマーズマーケット』にも行けます。ヒロ空港からは、車で10分の場所にあり、海もダウンタウンも近くとっても便利な場所にあります。
          .house-page__body__container
            .house-page__body__room.flexbox--spacebetween
              .room__detail
                .room__detail__img
                  <img src="<?php echo get_template_directory_uri(); ?>/images/guest-house-hawaii/hatching-house-hawaii-room-c.jpg">
                %ul.room__detail__read
                  %li
                    %div.room__detail__read--title
                      静かにゆったり♡お友達との旅におすすめ
                    %div.room__detail__read--roomname
                      2F(A)ROOM
                  %li
                    %div.room__detail__read--day
                      $78/1泊
                  %li
                    %ul.room__detail__amenity
                      %li
                        <i class="fas fa-bed"></i>
                        クィーンサイズベット
                      %li
                        <i class="fas fa-bath"></i>
                        共有シャワー、トイレ
                      %li
                        <i class="fas fa-user-plus"></i>
                        プラス1名様追加可能 $15 (２名様まで)
              .room__detail
                .room__detail__img
                  <img src="<?php echo get_template_directory_uri(); ?>/images/guest-house-hawaii/hatching-house-hawaii-room-b.jpg">
                %ul.room__detail__read
                  %li
                    %div.room__detail__read--title
                      プライベート重視♡カップルおすすめ
                    %div.room__detail__read--roomname
                      2F/(B)ROOM
                  %li
                    %div.room__detail__read--day
                      $78/1泊
                  %li
                    %ul.room__detail__amenity
                      %li
                        <i class="fas fa-bed"></i>
                        クィーンサイズベット
                      %li
                        <i class="fas fa-bath"></i>
                        共有シャワー、トイレ
                      %li
                        <i class="fas fa-user-plus"></i>
                        プラス1名様追加可能 $15 (２名様まで)
              .empty-container

            .house-page__body__facility
              %h2.house-page__body__header
                アメニティ・設備
              .flexbox--spacebetween
                %ul
                  %li
                    <i class="far fa-clock"></i>
                    チェックイン: 1PM-10PM
                  %li
                    <i class="fas fa-bell"></i>
                    チェックアウト: 11AMまで
                  %li
                    <i class="fas fa-suitcase"></i>
                    荷物のお預かりOK (事前予約要）
                  %li
                    <i class="fas fa-money-bill"></i>
                    当日ドル現金支払いのみ
                  %li
                    <i class="fas fa-ban"></i>
                    当日キャンセル可
                %ul
                  %li
                    <i class="fas fa-wifi"></i>
                    WIFI（無料インターネット）
                  %li
                    <i class="fas fa-tshirt"></i>
                    クローゼット（ハンガー付）
                  %li
                    <i class="fas fa-shower"></i>
                    タオル、ドライヤー、トイレットペーパー
                  %li
                    <i class="fas fa-tint"></i>
                    洗濯機、乾燥機あり(洗剤は各自で用意)
                  %li
                    <i class="fas fa-utensils"></i>
                    共同キッチン（お皿など調理器具、冷蔵庫スペース）
                %ul
                  %li
                    <i class="fas fa-smoking-ban"></i>
                    禁煙 (外庭でのみ喫煙可)
                  %li
                    <i class="fas fa-parking"></i>
                    駐車場あり
                  %li
                    <i class="fas fa-car"></i>
                    オプション：有料送迎（事前予約要:1回$35）
            .house-page__body__room-notice
              %h2.house-page__body__header
                注意事項
              %p.room-notice--title
                チェックアウト、チェックイン時間について
              %p.room-notice--txt
                チェックアウト、チェックイン時間は、基本的に[1PM-10PM]の間でお願いしておりますが、予約状況によっては、事前（ご予約の日の2日前まで）にご相談いただいているお客様のみ、ご都合の良い時間に合わせたチェックアウト、チェックイン時間帯合わせることができる場合がありますので、ご相談ください。事前にご相談がない上記時間以外のチェックアウト、チェックインは、自動キャンセルの対象とさせていて頂くことがございますのでご了承ください。
              %p.room-notice--title
                荷物のお預かりについて
              %p.room-notice--txt
                荷物のお預かりは、事前（ご予約の日の2日前まで）ご相談頂けてましたら、チェックイン時間外でも荷物をお預かりすることができる場合がありますのでご相談ください。 （例：到着がチェックイン開始時間よりも早くなりそうで、チェックインまでどこかで待つ必要があるが荷物だけは預かっていてもらいたい。等など)
              %p.room-notice--title
                お支払いについて
              %p.room-notice--txt
                お支払いは、お部屋に到着してから、基本的にアメリカドル現金でのみでお願いしております。
              %p.room-notice--title
                ご予約手続きについて
              %P.room-notice--txt
                予約手続きについては、ご予約したい日にち、ゲストハウス到着予定時間を記入の上、以下の問い合わせフォームにて、ご連絡ください。観光シーズン中は、ご予約がすぐに埋まってしまうことがあるので早めのご予約をお願いしております。
              %p.room-notice--title
                すでに満室時のキャンセル待ちについて
              %P.room-notice--txt
                観光シーズン間は、3ヶ月先までご予約が埋まってしまうことが多いため、ご予約をお断り又は、キャンセル待ちとさせていただく事が多くなってしまっておりますので、早めのご予約をお勧めしています。又、キャンセル待ちを希望した場合、キャンセルが出次第すぐに優先してメールにてご連絡を差し上げております。
              %p.room-notice--title
                予約キャンセルついて
              %P.room-notice--txt
                予約キャンセルついては、ゲストハウスに到着後、お支払いいただく前であれば、いつでもキャンセルできます。ただし、お支払い後のキャンセル、ご返金はできかねますのでご注意ください。また、ご予約いただいている日のチェックイン時間[夜11pm]までに、ご連絡が取れない場合は、ご予約頂いている日にちを全てキャンセル扱いとさせて頂いております。
              %p.room-notice--title
                共同トイレ、シャワーの利用について
              %p.room-notice--txt
                ※Cozy（コージー）,Single(シングル)部屋は、共同トイレ、シャワーで入居者(男女)と共有になるため、時間帯によっては、混み合う場合がございますのでご了承ください。シャワー使用時間は、いつでも使用していただいて構いません。
              %p.room-notice--title
                洗濯機、乾燥機の使用時間について
              %p.room-notice--txt
                ※洗濯機、乾燥機は室内にあり、無料で使えますが、使用時間は、朝9時-夜9時の間のみさせて頂きます。洗剤とは各自で用意して頂くことになります。
              %p.room-notice--title
                キッチンの利用について
              %p.room-notice--txt
                ※キッチンは、いつでも自由にお使いいただけます。キッチンににおいてある調理器具（レンジ、フライパン、日本　製炊飯器、お鍋、お皿、コップ、箸、スプーン、フォーク、コーヒーメーカーetc）が使えます。また、冷蔵庫もゲスト専用のスペースがありますので、気軽にお使いくださいませ。
              %p.room-notice--title
                送迎サービスについて
              %p.room-notice--txt
                ※送迎を依頼する場合は、予めのご予約をお願い致しております。場合によっては、ご希望の日にちにお答えできかねる場合がありますので、早めのご予約をお願いいたします。送迎は、[ハワイ島コナ空港-ゲスト宿泊ハウス]間の１回$35になります。支払いは、お部屋代の時にまとめて、現金のみで頂いております。
              %p.room-notice--title
                リトリートツワーの申し込みについて
              %p.room-notice--txt
                ※リトリートツワーの申し込みを依頼する場合は、予めのご予約をお願い致しております。場合によっては、ご希望の日にちにお答えできかねる場合がありますので、早めのご予約をお願いいたします。ツアーの日程や詳細はお問い合わせください。
              %p.room-notice--title
                WIFIインターネットの利用について
              %p.room-notice--txt
                ※インターネットWifiは、無料でご自由に使えます。
              %p.room-notice--title
                ※お部屋のご予約、ご質問等などお気軽に以下のお問い合わせフォームにて、ご相談ください。
    <?php include('components-php/contact-form.php'); ?>
    <p id="PageTopBtn"><a href="#wrap">TOPへ</a></p>
    .bottom-container
      <?php include('components-php/annie-banner.php'); ?>
      <?php include('components-php/service.php'); ?>
      <?php include('components-php/business-sp.php'); ?>
      <?php include('components-php/annie-sp.php'); ?>
      <?php include('components-php/footer.php'); ?>
      <?php include('components-php/footer-sp.php'); ?>
