<?php /** *  Template Name:  はっち不動産ページ */ ?>
<?php include('head.php'); ?>

%body
  .house-page.pages.outer
    .house-page__real-estate
      <?php include('components-php/header02.php'); ?>
      <?php include('components-php/header-sp.php'); ?>
      .house-page__header
        %h1.house-page__header--jp
          SFバークレー不動産サポート
        .house-page__header--en.flexbox--v-center
          .sub-txt
            USA
          .main-txt
            HATCHING HOUSE
      .house-page__real-estate__bg-img

      .outer__inner
        .house-page__body.pages__container
          %h2.house-page__body__header
            バークレー周辺のお部屋探しをお手伝いします。
          .house-page__body__container
            .house-page__body__container__pics.flexbox--spacebetween
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/hatching-real-estate-01.jpg">
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/hatching-real-estate-02.jpg">
              .house-page__body__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/hatching-real-estate-03.jpg">
            .house-page__body__read
              はっちすたじおは、「バークレーで家が見つからない」「日本から時期に合わせて見つけるのが大変」「英語、時差がネックで大家さんとうまくやり取り出来ない、返事がこない。」　などの声にお答えするため、地元の繋がりで、サンフランシスコ、UCバークレー大学周辺に３０以上の物件を持つ、地元のローカルの不動産屋さんと提携することに成功、優先的に格安で家の紹介、アメリカでの物件探しが困難な日本人の方へ物件のサポートをしていきます。

            .house-page__body__container__houses
              .card-box
                .card-box-container
                  .card-box-header
                    紹介物件の一部
                  %ul.card-box-body.flexbox--spacebetween
                    %li
                      %h3
                        [アパート/部屋シェア]
                      %p
                        %i.fas.fa-angle-right
                        家賃 月$700
                      %p
                        %i.fas.fa-angle-right
                        center street
                      %p
                        %i.fas.fa-angle-right
                        バークレー駅から徒歩5分
                      %p
                        %i.fas.fa-angle-right
                        ネット、ガス、電気は別
                      %p
                        %i.fas.fa-angle-right
                        短期可能
                      %p
                        %i.fas.fa-angle-right
                        セキュリティデポジット　家賃2ヶ月分
                      %p
                        %i.fas.fa-angle-right
                        シェアOK
                      %p
                        %i.fas.fa-angle-right
                        只今満室のため、空き待ち

                    %li
                      %h3
                        [ワンルーム/STUDIO]
                      %p
                        %i.fas.fa-angle-right
                        家賃 月 $1200
                      %p
                        %i.fas.fa-angle-right
                        center street
                      %p
                        %i.fas.fa-angle-right
                        バークレー駅から徒歩5分
                      %p
                        %i.fas.fa-angle-right
                        ネット、ガス、電気は別
                      %p
                        %i.fas.fa-angle-right
                        短期可能
                      %p
                        %i.fas.fa-angle-right
                        セキュリティデポジット　家賃2ヶ月分
                      %p
                        %i.fas.fa-angle-right
                        シェアOK
                      %p
                        %i.fas.fa-angle-right
                        只今満室のため、空き待ちリスト

                    %li
                      %h3
                        [ワンルーム/アパート]
                      %p
                        %i.fas.fa-angle-right
                        家賃 月$950
                      %p
                        %i.fas.fa-angle-right
                        ノースバークレー駅から徒歩10分
                      %p
                        %i.fas.fa-angle-right
                        ノースバークレー
                      %p
                        %i.fas.fa-angle-right
                        ネット、ガス、電気は別
                      %p
                        %i.fas.fa-angle-right
                        短期可能
                      %p
                        %i.fas.fa-angle-right
                        セキュリティデポジット　家賃2ヶ月分
                      %p
                        %i.fas.fa-angle-right
                        シェアOK
                      %p
                        %i.fas.fa-angle-right
                        只今満室のため、空き待ちリスト

                    %li
                      %h3
                        [ワンルーム/一軒家]
                      %p
                        %i.fas.fa-angle-right
                        家賃 月/$3100〜(水道、ゴミ代込み)
                      %p
                        %i.fas.fa-angle-right
                        center street
                      %p
                        %i.fas.fa-angle-right
                        バークレー駅から徒歩5分
                      %p
                        %i.fas.fa-angle-right
                        ネット、ガス、電気は別
                      %p
                        %i.fas.fa-angle-right
                        基本一年契約（延長可）
                      %p
                        %i.fas.fa-angle-right
                        セキュリティデポジット　家賃2ヶ月分
                      %p
                        %i.fas.fa-angle-right
                        シェアOK
                      %p
                        %i.fas.fa-angle-right
                        只今満室の為、空き待ち

                    %li
                      %h3
                        [1LDK/一軒家]
                      %p
                        %i.fas.fa-angle-right
                        家賃 月 $3000〜 水道、ゴミ代込み
                      %p
                        %i.fas.fa-angle-right
                        walnut street
                      %p
                        %i.fas.fa-angle-right
                        バークレー大学/バークレー駅から徒歩15分
                      %p
                        %i.fas.fa-angle-right
                        ネット、ガス、電気は別
                      %p
                        %i.fas.fa-angle-right
                        コインランドリー
                      %p
                        %i.fas.fa-angle-right
                        セキュリティデポジット　家賃2ヶ月分
                      %p
                        %i.fas.fa-angle-right
                        シェアOK
                      %p
                        %i.fas.fa-angle-right
                        只今満室のため、空き待ち
                    %li
                      %h3
                        [2LDK/一軒家]
                      %p
                        %i.fas.fa-angle-right
                        家賃 月 $3600〜 水道、ゴミ代込み
                      %p
                        %i.fas.fa-angle-right
                        walnut street
                      %p
                        %i.fas.fa-angle-right
                        バークレー大学/バークレー駅から徒歩15分
                      %p
                        %i.fas.fa-angle-right
                        ネット、ガス、電気は別
                      %p
                        %i.fas.fa-angle-right
                        コインランドリー
                      %p
                        %i.fas.fa-angle-right
                        セキュリティデポジット　家賃2ヶ月分
                      %p
                        %i.fas.fa-angle-right
                        シェアOK
                      %p
                        %i.fas.fa-angle-right
                        只今満室のため、空き待ち

    %section.section.ad-banner.business
      .business__container
        %p.business-txt
          物件の掲載依頼、仲介業務提携については、お問い合わせください。
        %div
          %button.btn.btn-round-white-02
            <a href="<?php echo esc_url( home_url( '/contents' ) ); ?>">お問い合わせはこちら</a>
    <?php include('components-php/contact-form.php'); ?>

<p id="PageTopBtn"><a href="#wrap">TOPへ</a></p>
.bottom-container
  <?php include('components-php/annie-banner.php'); ?>
  <?php include('components-php/service.php'); ?>

  <?php include('components-php/business-sp.php'); ?>
  <?php include('components-php/annie-sp.php'); ?>

  <?php include('components-php/footer.php'); ?>
  <?php include('components-php/footer-sp.php'); ?>
