%header.outer__header.header-sp
  .flexbox--spacebetween.header-sp__container
    .drawer.drawer--left
      %btn.drawer-toggle.drawer-hamburger
        %i.fa.fa-align-justify
      .drawer-nav
        .drawer-nav__container
          .drawer-nav__title
            %i.fa.fa-home
              <a href="https://hatchstudioinc.com/">HOME ホーム</a>
          .drawer-nav__title
            %i.fa.fa-list-ul
            ブログコンテンツ
          %ul.drawer-menu
            %li.drawer-menu__li
              <a href="https://hatchstudioinc.com/">サンフランシスコ</a>
            %li.drawer-menu__li
              <a href="http://ucberkeley.hatchstudioinc.com/">サンバークレー</a>
            %li.drawer-menu__li
              <a href="http://newyork.hatchstudioinc.com/">ニューヨーク</a>
            %li.drawer-menu__li
              <a href="https://hatchstudioinc.com/archives/category/portland">ポートランド</a>
            %li.drawer-menu__li
              <a href="https://hatchstudioinc.com/archives/category/hawaii">ハワイ</a>
            %li.drawer-menu__li
              <a href="https://hatchstudioinc.com/archives/category/info">お知らせ/募集</a>
            %li.drawer-menu__li
              <a href="https://hatchstudioinc.com/archives/category/sharehouse">シェアハウス</a>
          .drawer-nav__title
            %i.fa.fa-globe
            サービス
          %ul.drawer-menu
            %li.drawer-menu__li
              <a href="<?php echo esc_url( home_url( '/web' ) ); ?>">WEB/動画制作</a>
            %li.drawer-menu__li
              <a href="<?php echo esc_url( home_url( '/contents' ) ); ?>">コンテンツ制作</a>
            %li.drawer-menu__li
              <a href="<?php echo esc_url( home_url( '/guest-house' ) ); ?>">ゲストハウス</a>
            %li.drawer-menu__li
              <a href="<?php echo esc_url( home_url( '/translate' ) ); ?>">英語/中国語翻訳</a>
            %li.drawer-menu__li
              <a href="<?php echo esc_url( home_url( '/real-estate' ) ); ?>">不動産サポート</a>

          .drawer-nav__title
            %i.fa.fa-building
            会社について
          %ul.drawer-menu
            %li.drawer-menu__li
              <a href="<?php echo esc_url( home_url( '/about' ) ); ?>">会社について</a>
            %li.drawer-menu__li
              <a href="<?php echo esc_url( home_url( '/recruit' ) ); ?>">採用</a>
            %li.drawer-menu__li
              <a href="<?php echo esc_url( home_url( '/policy' ) ); ?>">プライバシーポリシー</a>
            %li.drawer-menu__li
              <a href="<?php echo esc_url( home_url( '/security' ) ); ?>">セキュリティー</a>
            %li.drawer-menu__li
              <a href="<?php echo esc_url( home_url( '/rule' ) ); ?>">利用規約</a>
            %li.drawer-menu__li
              <a href="<?php echo esc_url( home_url( '/contact' ) ); ?>">お問い合わせ</a>

    .search
      %btn.search-icon
        %i.fa.fa-search
      .search__box.textArea
        .search__form
          <?php get_search_form(); ?>

  .logo__img
    <a href="<?php echo esc_url( home_url( '/' ) ); ?>"><img src="<?php echo get_template_directory_uri(); ?>/images/logo-bk.svg" width="250"></a>
  %p.header-sp__txt
    ”ワクワク”な体験をお届け！アメリカ面白まがじん。
