%header.outer__header.header02
  .flexbox--spacebetween
    .sns-icons.flexbox
      .sns-icons__icon
        <a href="https://www.facebook.com/hatchstudioinc"><img src="<?php echo get_template_directory_uri(); ?>/images/facebook-icon.svg"></a>
      .sns-icons__icon
        <a href="https://twitter.com/hatchstudioinc"><img src="<?php echo get_template_directory_uri(); ?>/images/twitter-icon.svg"></a>
      .sns-icons__icon
        <a href="https://www.instagram.com/annie_jene/"><img src="<?php echo get_template_directory_uri(); ?>/images/instgram-icon.svg"></a>
    .search__box
      .search__form
        <?php get_search_form(); ?>
  .logofind
    .logo__img
      <a href="<?php echo esc_url( home_url( '/' ) ); ?>"><img src="<?php echo get_template_directory_uri(); ?>/images/logo-bk.svg" width="250"></a>
.header-bar
  .header-bar__inner.flexbox--spacebetween
    .header-bar__logo.logo
      %span.logo__img-h
        <a href="https://www.instagram.com/annie_jene/"><img src="<?php echo get_template_directory_uri(); ?>/images/eight-icon.svg"></a>
      %span.logo__title
        アメリカ面白まがじん
      .search__box
        .search__form
          <?php get_search_form(); ?>



    .header-bar__menu
      %nav.header-bar__nav.gnav-wrapper
        %ul.header-bar__nav__list.gnav.main-wrapper
          %li.header-bar__nav__item
            %a.header-bar__nav__text
              %span.header-bar__nav__text--en
                BLOG
            .megamenu
              %ul.megamenu-inner.main-wrapper
                %li
                  %a.megamenu-inner-text
                    %i.fas.arrow-alt-circle-right
                    バークレー
                %li
                  %a.megamenu-inner-text
                    サンフランシスコ
                %li
                  %a.megamenu-inner-text
                    ポートランド
                %li
                  %a.megamenu-inner-text
                    ハワイ
                %li
                  %a.megamenu-inner-text
                    バークレー
                %li
                  %a.megamenu-inner-text
                    サンフランシスコ
                %li
                  %a.megamenu-inner-text
                    ポートランド
                %li
                  %a.megamenu-inner-text
                    ハワイ






            %a.header-bar__nav__text.c-link.c-link--bold
              %span.header-bar__nav__text--jp
                ブログ
          %li.header-bar__nav__item
            %a.header-bar__nav__text
              %span.header-bar__nav__text--en
                SVICE
            %a.header-bar__nav__text.c-link.c-link--bold
              %span.header-bar__nav__text--jp
                サービス
          %li.header-bar__nav__item
            %a.header-bar__nav__text
              %span.header-bar__nav__text--en
                RECRUIT
            %a.header-bar__nav__text.c-link.c-link--bold
              %span.header-bar__nav__text--jp
                採用
          %li.header-bar__nav__item
            %a.header-bar__nav__text
              %span.header-bar__nav__text--en
                ABOUT
            %a.header-bar__nav__text.c-link.c-link--bold
              %span.header-bar__nav__text--jp
                会社案内
          %li.header-bar__nav__item
            %a.header-bar__nav__text
              %span.header-bar__nav__text--en
                CONTACT
            %a.header-bar__nav__text.c-link.c-link--bold
              %span.header-bar__nav__text--jp
                お問い合わせ

.notice-bar
.breadcrumb-container
  breadcrumb-test
  <?php include('breadcrumb.php'); ?>



