%header.outer__header.header-sp
  .flexbox--spacebetween.header-sp__container
    .drawer.drawer--left
      %btn.drawer-toggle.drawer-hamburger
        %i.fa.fa-align-justify
      .drawer-nav
        .drawer-nav__container
          .drawer-nav__title
            %i.fa.fa-home
              <a href="<?php echo esc_url( home_url( '/' ) ); ?>">HOME ホーム</a>
          .drawer-nav__title
            %i.fa.fa-list-ul
            ブログコンテンツ
          %ul.drawer-menu
            %li.drawer-menu__li
              <a href="<?php bloginfo('url'); ?>/category/fashion/">サンフランシスコ</a>
            %li.drawer-menu__li
              <a href="<?php bloginfo('url'); ?>/category/gourmet/">ニューヨーク</a>
            %li.drawer-menu__li
              <a href="<?php bloginfo('url'); ?>/category/lifestyle/">ポートランド</a>
            %li.drawer-menu__li
              <a href="<?php bloginfo('url'); ?>/category/cosmetics/">ハワイ</a>

          .drawer-nav__title
            %i.fa.fa-globe
            サービス
          %ul.drawer-menu
            %li.drawer-menu__li
              <a href="<?php bloginfo('url'); ?>/tag/organic/">WEB/動画制作</a>
            %li.drawer-menu__li
              <a href="<?php bloginfo('url'); ?>/tag/ethical/">コンテンツ制作</a>
            %li.drawer-menu__li
              <a href="<?php bloginfo('url'); ?>/tag/fairtrade/">ゲストハウス</a>
            %li.drawer-menu__li
              <a href="<?php bloginfo('url'); ?>/tag/local/">英語/中国語翻訳</a>

          .drawer-nav__title
            %i.fa.fa-building
            会社について
          %ul.drawer-menu
            %li.drawer-menu__li
              <a href="<?php bloginfo('url'); ?>/tag/dresses/">会社概要</a>
            %li.drawer-menu__li
              <a href="<?php bloginfo('url'); ?>/tag/accessories/">採用</a>
            %li.drawer-menu__li
              <a href="<?php bloginfo('url'); ?>/tag/tops/">プライバシーポリシー</a>
            %li.drawer-menu__li
              <a href="<?php bloginfo('url'); ?>/tag/bottoms/">利用規約</a>

    .search
      %btn.search-icon
        %i.fa.fa-search
      .search__box.textArea
        .search__form
          <?php get_search_form(); ?>
  .logo__img
    <a href="<?php echo esc_url( home_url( '/' ) ); ?>"><img src="<?php echo get_template_directory_uri(); ?>/images/logo-bk.svg" width="250"></a>
  %p.header-sp__txt
    ”ワクワク”な体験をお届け！アメリカ面白まがじん
