.keywords-category
  .header-side.flexbox
    .header-side__img
      <img src="<?php echo get_template_directory_uri(); ?>/images/font-deco-left.svg">
    .header-side__txt--en
      CATEGORY
    .header-side__txt--jp
      カテゴリーキーワード
    .header-side__img
      <img src="<?php echo get_template_directory_uri(); ?>/images/font-deco-right.svg">
  .keywords__content.flexbox
    <?php wp_tag_cloud( 'smallest=11&largest=11&number=16' ); ?>

