%dl.news-list
  %dt
    .header-side__img--sp
      <img src="<?php echo get_template_directory_uri(); ?>/images/category-popular.svg">
    .header-side.flexbox
      .header-side__img
        <img src="<?php echo get_template_directory_uri(); ?>/images/font-deco-left.svg">
      .header-side__txt--en
        NEW POSTS
        <i class="far fa-clock"></i>
      .header-side__txt--jp
        新着記事

      .header-side__img
        <img src="<?php echo get_template_directory_uri(); ?>/images/font-deco-right.svg">

  .news-list__container.two-column-sp
    :plain
      <?php query_posts('posts_per_page=6'); ?>
      <?php if ( have_posts() ) : while ( have_posts() ) : the_post(); $countlists++; ?>
      <?php if($countlists == 3 or $countlists == 6 or $countlists == 12) : ?>
      //ここに広告のコードor画像など//
      <?php endif; ?>
        <!--表示する内容が入ります。-->
        <dd class="news-list__content flexbox">
          <div class="eyecatch">
            <div class="news-list__thumb-img">
              <a href="<?php the_permalink(); ?>"><?php the_post_thumbnail($this_post->ID,
                array( 230, 230 )); ?></a>
            </div>
          </div>
          <div class="news-list__header">
            <p class="news-list__title">
              <a href="<?php the_permalink(); ?>"><?php the_title(); ?></a>
            </p>
          </div>
        </dd>
        <!--表示する内容ここまで-->

      <?php endwhile; endif; ?>
