.more-search-article
  .more-search-article__title.components-title
    アイテムから記事を探す
  %ul.grid.more-search-article__lists.flexbox--spacebetween
    %li.cell.more-search-article__list
      <a class="more-search-article__btn" href="<?php bloginfo('url'); ?>/tag/tops/" <?php if(is_tag('tops')) echo 'class="iscurrent"'; ?>><i class="fa fa-angle-right"></i>トップス</a>
    %li.cell.more-search-article__list
      <a class="more-search-article__btn" href="<?php bloginfo('url'); ?>/tag/bottoms/" <?php if(is_tag('bottoms')) echo 'class="iscurrent"'; ?>><i class="fa fa-angle-right"></i>ボトムス</a>
    %li.cell.more-search-article__list
      <a class="more-search-article__btn" href="<?php bloginfo('url'); ?>/tag/dresses/" <?php if(is_tag('dresses')) echo 'class="iscurrent"'; ?>><i class="fa fa-angle-right"></i>ドレス</a>
    %li.cell.more-search-article__list
      <a class="more-search-article__btn" href="<?php bloginfo('url'); ?>/tag/accessories/" <?php if(is_tag('accessories')) echo 'class="iscurrent"'; ?>><i class="fa fa-angle-right"></i>アクセサリー</a>
    %li.cell.more-search-article__list
      <a class="more-search-article__btn" href="<?php bloginfo('url'); ?>/tag/lingerie/" <?php if(is_tag('tops')) echo 'class="lingerie"'; ?>><i class="fa fa-angle-right"></i>ランジェリー</a>

