.paging-nav
  .paging-nav__container.flexbox--spacebetween
    .paging-nav__pre
      .paging-nav__head.flexbox
        .paging-nav__head__img
          <img src="<?php echo get_template_directory_uri(); ?>/images/paging-img-right.svg">
        .paging-nav__head__txt
          前の記事へ
      .paging-nav__body.flexbox
        .paging-nav__body__img
          <img src="<?php echo get_template_directory_uri(); ?>/images/test-img.jpg">
        .paging-nav__body__read
          4コマ劇場『ホストマザーとの出会いとアメリカの緑茶の衝撃。』7話

    .paging-nav__next
      .paging-nav__head.flexbox
        .paging-nav__head__txt
          次の記事へ
        .paging-nav__head__img
          <img src="<?php echo get_template_directory_uri(); ?>/images/paging-img-left.svg">

      .paging-nav__body.flexbox
        .paging-nav__body__read
          4コマ劇場『ホストマザーとの出会いとアメリカの緑茶の衝撃。』7話
        .paging-nav__body__img
          <img src="<?php echo get_template_directory_uri(); ?>/images/test-img.jpg">
