<?php /** *  Template Name:  ポリシーページ */ ?>
<?php include('head.php'); ?>
%body
  .pages.policy-page.pages.outer
    <?php include('components-php/header02.php'); ?>
    <?php include('components-php/header-sp.php'); ?>

    .outer__inner
      .pages__container
        .security-policy
          %h1.pages__header
            プライバシーポリシー
          .pages__read
            %h2.pages__header
              プライバシーおよび個人情報の保護に関する方針
            %p
              以下の個人情報保護方針は、Hatchstudio inc (以下、「当社」という) が当社管轄のウェブサイトやサービス、および他の協業会社経由で入手した個人情報に対して 適用されるものです。リンクされている外部のウェブサイトには適用されませんのでご注意ください。
            %h2.pages__header
              個人情報
            %p
              個人情報とは、当社のお客さま、取引先企業の社員、当社の社員を問わず、個人に関する情報であり、 当該情報に含まれる氏名、生年月日その他の記述等に より特定の個人を識別することができるもの(他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含みま す)を指します。
            %h2.pages__header
              当社が取扱う個人情報の範囲
            %p
              当社は保護の対象とする個人情報は以下の範囲と定めます。
            %ul
              %li
                ・製品やサービスの購入、更新、ユーザ変更等の際にご連絡いただいた個人情報
              %li
                ・弊社管轄のウェブサイトで入力いただいた個人情報
              %li
                ・弊社管轄のメールアドレスに送信していただいた個人情報
              %li
                ・お電話でいただいた個人情報
              %li
                ・イベントへの登録、アンケート回答の際にご連絡いただいた個人情報
            %p
              上記範囲以外でお客様がご自身の個人情報を送信された場合、当社はその個人情報保護について責任を負いません。
            %h2.pages__header
              個人情報の利用目的
            %p
              当社が取得する個人情報は、以下の目的のために利用いたします。
              %ul
                %li
                  ・サービスのご提供、更新、変更等のサービス提供のため
                %li
                  ・マーケティング調査および分析
                %li
                  ・当社のサービスおよびキャンペーン・セミナーのご案内等

            %h2.pages__header
              個人情報の管理
            %p
              当社が収集したお客様の個人情報は、厳重に管理します。当社では個人情報への不正アクセス、紛失、破壊、漏洩などに関し予防措置を講じるとともに、万一発生した場合は、速やかに是正措置を講じます。
              個人情報保護に関する法令、判例及びその他の規範を遵守します。
            %h2.pages__header
              個人情報の開示
            %p
              当社は、当社が定める目的で、製品およびサービス開発元、業務委託先に個人情報を開示および提供することがあります。当社は、司法当局等からの要請がある場合を除き、本人の同意なしに製品開発元、当社業務委託先以外の第三者に個人情報を提供しません。お客様が、ご自身の個人情報の照会、修正および削除を希望される場合、担当窓口にご連絡をいただくことで合理的な範囲で対応します。
            %h2.pages__header
              個人情報の開示
            %p
              当社は、当社が定める目的で、製品およびサービス開発元、業務委託先に個人情報を開示および提供することがあります。当社は、司法当局等からの要請がある場合を除き、本人の同意なしに製品開発元、当社業務委託先以外の第三者に個人情報を提供しません。お客様が、ご自身の個人情報の照会、修正および削除を希望される場合、担当窓口にご連絡をいただくことで合理的な範囲で対応します。
            %h2.pages__header
              本ポリシーについて
            %p
              当社は、以上のポリシーを必要に応じ改定致します。改定後の情報は、当社ウェブサイトにて公開します。
            %h2.pages__header
              担当窓口
            %p
              個人情報保護の方針に関するお問い合わせは、以下の窓口よりご連絡下さい。お問い合わせ窓口: hatchstudio8@gmail.com

          .pages__date-info
            %p
              2014年 6月 28日
            %p
              Hatchstudio inc
            %p
              Berkeley, California USA


    .outer__inner
      .articles__container__bottom.flexbox--h-center
        <?php include('components-php/bt-news-lists.php'); ?>
        <?php include('components-php/bt-popular-month.php'); ?>



<p id="PageTopBtn"><a href="#wrap">TOPへ</a></p>
.bottom-container
  <?php include('components-php/service.php'); ?>
  <?php include('components-php/annie-banner.php'); ?>
  <?php include('components-php/footer.php'); ?>
  <?php include('components-php/footer-sp.php'); ?>

