<?php /** *  Template Name:  採用ページ */ ?>
<?php include('head.php'); ?>


%body
  .recruit-page.pages.outer
    <?php include('components-php/header02.php'); ?>
    <?php include('components-php/header-sp.php'); ?>
    .service-page__header
      仲間募集/採用

    .outer__inner
      .pages__container
        .mission
          %h1.pages__header
            幸せを追求しながら、仕事ができる人と働きたい。
          %p.pages__read
            はっちすたじおは、人が好きで、楽しい職場を常に意識しながら働ける人を歓迎します。また、自分の『幸せ』の価値観をしっかり持ちながら、他人の価値観も受け入れ、成長し続けられる人と働けるたらいいな。と思っています。

        .row
          .col-sm-3
            .card.border-primary
              .card-header
                エンジニア
              .card-body.text-dark
                .card-title
                  急募
                %p.card-text
                  %ol
                    %li
                      Git開発経験
                    %li
                      PHP/Ruby開発経験
                    %li
                      実務経験5年以上
                    %li
                      ビジネス英語必須
              .card-footer
                勤務地：リモート

          .col-sm-3
            .card.border-primary
              .card-header
                UX/UX デザイナー
              .card-body.text-dark
                .card-title
                  現在募集なし
                %p.card-text
                  %ol
                    %li
                      Photoshop、Illustratorデザイン経験
                    %li
                      3年以上のUX/UX実務経験
                    %li
                      ビジネス英語必須
                    %li
                      ビザサポート有
                    　
              .card-footer
                勤務地：ポートランド

          .col-sm-3
            .card.border-primary
              .card-header
                記事校正
              .card-body.text-dark
                .card-title
                  急募（インターン）
                %p.card-text
                  %ol
                    %li
                      メディアでの記事の寄与経験がある方
                    %li
                      細かいことに気づく方
                    %li
                      HTML/CSS/SEOの知識
                    %li
                      OPTビザサポート有

              .card-footer
                勤務地：リモート,ポートランド

          .col-sm-3
            .card.border-primary
              .card-header
                シェアハウス管理人
              .card-body.text-dark
                .card-title
                  現在募集なし
                %p.card-text
                  %ol
                    %li
                      住み込みできる方
                    %li
                      人が好きで愛がある方
                    %li
                      お世話好きな方
                    %li
                      責任感がある方
                    %li
                      シェアハウス経験ある方
                    %li
                      英語でのコミュニケーションができる方
              .card-footer
                勤務地：ポートランド,サンフランシスコ
          .col-sm-3
            .card.border-primary
              .card-header
                翻訳
              .card-body.text-dark
                .card-title
                  急募
                %p.card-text
                  %ol
                    %li
                      企業での翻訳経験3年以上
                    %li
                      期限を厳守できる方
                    %li
                      ネイティブによるテストあり
              .card-footer
                勤務地：リモート
          .col-sm-3
            .card.border-primary
              .card-header
                事務
              .card-body.text-dark
                .card-title
                  現在募集なし
                %p.card-text
                  %ol
                    %li
                      アメリカ時間に合わせられる方
                    %li
                      エクセルが使える方
                    %li
                      語学学校などでの事務経験がある方
              .card-footer
                勤務地：日本
          .col-sm-3
            .card.border-primary
              .card-header
                モデル
              .card-body.text-dark
                .card-title
                  急募
                %p.card-text
                  %ol
                    %li
                      アメリカ在住の女性の方
                    %li
                      モデル経験3年以上
                    %li
                      23才以上
              .card-footer
                勤務地：アメリカ国内




  .outer__inner
    .articles__container__bottom.flexbox--h-center
      <?php include('components-php/bt-news-lists.php'); ?>
      <?php include('components-php/bt-popular-month.php'); ?>



.bottom-container
  <?php include('components-php/service.php'); ?>
  <?php include('components-php/annie-banner.php'); ?>
  <?php include('components-php/footer.php'); ?>
  <?php include('components-php/footer-sp.php'); ?>
