<?php /** *  Template Name:  採用ページ */ ?>
<?php include('head.php'); ?>


%body
  .recruit-page.pages.outer
    <?php include('components-php/header02.php'); ?>
    <?php include('components-php/header-sp.php'); ?>
    .service-page__header
      仲間募集/採用

    .outer__inner
      .pages__container
        .mission
          %h1.pages__header
            ”わくわくできる人と働きたい。”
          %p.pages__read
            はっちすたじおSan Franciscoとは主にバークレーを拠点とした、北カリフォルニアで暮らす頑張る若者達が、分け隔てなく自由に出会えて遊べる場所があったらなーと思って作ったすたじおです。 そんな仲間たちが情報をシェアする為に日々の生活情報を発信すれば、楽しんじゃね？便利じゃね？って感じのただの好奇心から作りました。 ここアメリカから、たくさんの”新しいおもしろ情報”を日本や現地のみんなに発信！お届けできたら嬉しいです。


        .row
          .col-sm-3
            .card.border-primary
              .card-header
                バックエンドエンジニア
              .card-body.text-dark
                .card-title
                  急募（リモート）
                %p.card-text
                  ith supporting text below as a natural lead-in to additional content.
              .card-footer
                勤務地：ポートランド

          .col-sm-3
            .card.border-primary
              .card-header
                UX/UX デザイナー
              .card-body.text-dark
                .card-title
                  現在募集なし
                %p.card-text
                  th supporting text below as a natural lead-in to additional content.
              .card-footer
                勤務地：ポートランド

          .col-sm-3
            .card.border-primary
              .card-header
                記事校生
              .card-body.text-dark
                .card-title
                  急募（インターン）
                %p.card-text
                  With supporting text below as a natural lead-in to additional content.
              .card-footer
                勤務地：ポートランド

          .col-sm-3
            .card.border-primary
              .card-header
                シェアハウス管理人
              .card-body.text-dark
                .card-title
                  住み込み
                %p.card-text
                  With supporting text below as a natural lead-in to additional content.
              .card-footer
                勤務地：ポートランド,サンフランシスコ


          .col-sm-3
            .card.border-primary
              .card-header
                翻訳
              .card-body.text-dark
                .card-title
                  現在募集なし
                %p.card-text
                  With supporting text below as a natural lead-in to additional content.
              .card-footer
                勤務地：ポートランド,サンフランシスコ

          .col-sm-3
            .card.border-primary
              .card-header
                事務
              .card-body.text-dark
                .card-title
                  現在募集なし
                %p.card-text
                  With supporting text below as a natural lead-in to additional content.
              .card-footer
                勤務地：日本



  .outer__inner
    .articles__container__bottom.flexbox--h-center
      <?php include('components-php/bt-news-list.php'); ?>
      <?php include('components-php/bt-category-popular.php'); ?>



.bottom-container
  <?php include('components-php/service.php'); ?>
  <?php include('components-php/annie-banner.php'); ?>
  <?php include('components-php/footer.php'); ?>
  <?php include('components-php/footer-sp.php'); ?>


