<?php /** *  Template Name:  利用規約 */ ?>
<?php include('head.php'); ?>
%body
  %section.pages.rules-page
    .outer
      <?php include('components-php/header02.php'); ?>
      <?php include('components-php/header-sp.php'); ?>
      .notice-bar
      .breadcrumb-container
        <?php include('breadcrumb.php'); ?>
      .outer__inner
        .pages__container
          .logo__img
            <img src="<?php echo get_template_directory_uri(); ?>/images/annie-logo.svg">
          .security-policy
            %h1.pages__header
              利用規約
            .pages__read
              %h2.pages__header
                利用規約について
              %p
                このウェブサイトは Annie Jene (以下、「当社」という)が運営しています。以下の各事項をご了承の上、当ウェブサイトをご利用ください。また、当ウェブサ イトのポリシーは改善の必要性に応じて予告なく改訂する場合があることをご了承ください。
              %h2.pages__header
                リンクについて
              %p
                当ウェブサイトへのリンクについては、営利・非営利・イントラネットを問わず、リンクする際のご連絡は不要です。ただし、但し、以下のサイトについてのリンクはお断りいたします。
              %ul
                %li
                  ・当社の事業・サービス等を誹謗中傷するサイトからのリンク
                %li
                  ・公序良俗に反する内容を含んだサイトからのリンク
                %li
                  ・違法なコンテンツや活動に関与したサイトからのリンク
                %li
                  ・その他当社が不適切と判断するリンク
              %h2.pages__header
                第三者サイトへのリンクについて
              %p
                リンク先のサイトは当社の管理下にはないため、当ウェブサイトからリンクされているサイトの情報についての責任、あるいはその内容から発生するあらゆる問題に関して当社は責任を負いません。当社はお客様の便宜のためにこれらのリンクを提供しているだけであり、リンク先のサイトを当社が推薦していることを意味するものではありません
              %h2.pages__header
                著作権について
              %p
                当サイト上の文章、写真、映像、音楽、音声、その他の著作物は、当社およびその関係会社ならびに第三者が有する著作権、特許権、商標権その他の権利により保護されております。お客様は事前の許可なしに、本サービスを通じて入手するいかなる情報、ソフトウェア、製品またはサービスに対しても、変更、複写、頒布、上映、複製、出版、許諾、二次的著作物の作成、譲渡あるいは販売などを行うことはできません。
              %h2.pages__header
                商標について
              %p
                当ウェブサイトに掲載される個々の商標・ロゴマーク、商号に関する権利は、当社または個々の権利の所有者に帰属します。商標法その他の法律により認められる場合を除き、これらを当社の許諾を得ることなく使用等する行為は商標法等により禁止されています。
              %h2.pages__header
                プライバシーおよび個人情報の保護
              %p
                当ウェブサイトのご使用は、お客様ご自身の責任において行われるものとします。当社は、お客様が当ウェブサイト上から入手された情報 (データ類を含みま す) により発生した、いかなる損害に関しても一切の責任を負いません。また、当ウェブサイトおよびリンクされている他のサイトから入手された各種情報の 利用によって発生した、いかなる損害に関しても一切の責任を負いません。
              %h2.pages__header
                クッキー(cookie)について
              %p
                当ウェブサイトは、サイトの利用状況を把握するためにGoogle Analyticsによって提供されるサービスを利用しております。そのため、一部のページにおいて Google Analyticsから提供されるクッキーを使用しています。クッキーの使用に関する説明、クッキーによって収集される情報について詳しくお知りになりた い方は、 Google Analyticsのプライバシーポリシーをご確認ください。
              %h2.pages__header
                ソフトウェアやファイルのダウンロードについて
              %p
                当サイトのリンク先のウェブサイトからソフトウェアやファイルをダウンロードする場合は、当該ソフトウェアの使用許諾に関する条件を正しく守っていただきますようお願いいたします。また、当該ソフトウェアやファイルの利用に際しては、当社はいかなる責任も負いません。
              %h2.pages__header
                担当窓口
              %p
                利用規約に関するお問い合わせは、以下の窓口よりご連絡下さい。お問い合わせ窓口: annie.jane@gmail.com
            .pages__date-info
              %p
                2018年 8月 11日
              %p
                Annie Jene
              %p
                Portland, Oregon USA
        <?php include('components-php/news-articles.php'); ?>
        <?php include('components-php/more-search-article.php'); ?>
        .column-6.margin-center
          <?php include('components-php/sns-box.php'); ?>
        .column-8.margin-center
          <?php include('components-php/shopping-box.php'); ?>
        <?php include('chatbox.php'); ?>

<?php include('components-php/footer.php'); ?>
<?php include('components-php/footer-sp.php'); ?>

