<?php /** *  Template Name:  セキュリティーページ */ ?>
<?php include('head.php'); ?>

%body
  .policy-page.pages.outer
    <?php include('components-php/header02.php'); ?>
    <?php include('components-php/header-sp.php'); ?>

    .outer__inner
      .pages__container
        .security-policy
          %p.pages__header
            情報セキュリティ基本方針
          %p.pages__read
            Hatchstudio incは、以下のとおり情報セキュリティ基本方針を定め、個人情報保護の仕組みを構築し、 全従業員に個人情報保護の重要性の認識と取組みを徹底させることにより、個人情報の保護を推進いたします。
            当社は、ISO27001：2013 および関連するその他の法令・規範を遵守します。また当社は、情報セキュリティマネジメントシステムを着実に実施・維持し、継続的な改善に努めます。
            当社は、取り扱う情報資産を適切に管理する体制を確立するとともに、当社規程を全従業員に周知し、その遵守徹底に努めます。
            当社は、取り扱う情報資産を特定し、情報資産の取得・利用にあたっては、社内規範に従い適切に行います。また、当社はお客様からお預かりした情報資産を、お客様の同意がある場合または、正当な理由がある場合を除き、第三者に開示または提供しません。
            当社は、情報資産への不正アクセス、情報資産の漏えい、滅失、き損等の予防に努め、情報セキュリティの向上、是正を継続的に実施します。
            当社は、お客様からの情報資産に関するお問い合わせに誠実かつ迅速に対応します。

    .outer__inner
      .articles__container__bottom.flexbox--spacebetween
        .bt-left
          <?php include('components-php/bt-news-lists.php'); ?>
        .bt-right
          <!-- ?php include('components-php/affiliate-ad-article.php'); ? -->
          <!-- ?php include('components-php/bt-popular-month.php'); ? -->
          <?php include('components-php/bt-recommend.php'); ?>

    <p id="PageTopBtn"><a href="#wrap">TOPへ</a></p>
    .bottom-container
      <?php include('components-php/annie-banner.php'); ?>
      <?php include('components-php/service.php'); ?>
      <?php include('components-php/business-sp.php'); ?>
      <?php include('components-php/annie-sp.php'); ?>
      <?php include('components-php/footer.php'); ?>
      <?php include('components-php/footer-sp.php'); ?>
