<?php /** *  Template Name:  WEB制作ページ */ ?>
<?php include('head.php'); ?>

%body
  .service-page.pages.outer
    .service-page__web
      <?php include('components-php/header02.php'); ?>
      <?php include('components-php/header-sp.php'); ?>
      .service-page__header
        WEB/動画制作
      .service-page__web__bg-img

      .outer__inner
        .service-page__body.pages__container
          %ul.service-page__lists
            %li.service-page__list
              .service-page__list__header
                日本とポートランドのデザイナー＆エンジニア制作チーム
              .service-page__list__body
                創業時からの主軸事業でもあるWeb制作事業です。常に最先端のデザイン、開発技術を追いかけ、ビジネスを加速させるためのイケてるWebサイトやシステムを作り続けています。
            %li.service-page__list
              .service-page__list__header
                海外でも通用するUXUIを取り入れたWEB制作
              .service-page__list__body
                創業時からの主軸事業でもあるWeb制作事業です。常に最先端のデザイン、開発技術を追いかけ、ビジネスを加速させるためのイケてるWebサイトやシステムを作り続けています。
            %li.service-page__list
              .service-page__list__header
                企業のミッションを強く伝えるポートランドからの動画制作
              .service-page__list__body
                創業時からの主軸事業でもあるWeb制作事業です。常に最先端のデザイン、開発技術を追いかけ、ビジネスを加速させるためのイケてるWebサイトやシステムを作り続けています。





.bottom-container
  <?php include('components-php/service.php'); ?>
  <?php include('components-php/annie-banner.php'); ?>
  <?php include('components-php/footer.php'); ?>
  <?php include('components-php/footer-sp.php'); ?>
