<?php /** *  Template Name:  WEB制作ページ */ ?>
<?php include('head.php'); ?>

%body
  .service-page.pages
    .service-page__web
      <?php include('components-php/header02.php'); ?>
      <?php include('components-php/header-sp.php'); ?>
      .service-page__header
        WEB/動画制作
      .service-page__web__bg-img

      .outer__inner
        .service-page__body.pages__container
          %ul.service-page__lists
            %li.service-page__list
              .service-page__list__header
                日本とポートランドのデザイナー＆エンジニア制作チーム
              .service-page__list__body
                様々な国のスタッフといろんな価値観の人が集まるここアメリカだからこそ作れる『世界に通じる、心が伝わるサイト作り』をテーマにポートランドのスタッフを中心に一緒に制作させて頂きます。求められるトレンドやデザインなどの技術を取り入れながら、『いかに企業のミッション（核）を伝えることができるか。』を大切にして依頼された方と制作スタッフともに思いを込めた丁寧なサイト作りを行なっていきます。
                お見積もり等の詳しいご相談は、お気軽に問い合わせフォームにてお問い合わせください。
            %li.service-page__list
              .service-page__list__header
                海外でも通用するUXUIを取り入れたWEB制作
              .service-page__list__body
                ここアメリカ現地で、いち早くトレンドや新しい技術を追いかけながらも、今の時代に何が求められているのかを常に考え、意識しながら時代に合ったUXUIの技術を提案できるように制作して行きます。お見積もり等の詳しいご相談は、お気軽に問い合わせフォームにてお問い合わせください。
            %li.service-page__list
              .service-page__list__header
                企業のミッションを強く伝えるポートランドからの動画制作
              .service-page__list__body
                ご依頼された内容をもとに、アメリカ現地でしか撮影できない動画撮影を強みにして、現地の撮影&編集スタッフ（現地のモデルさんの調達も含む）とともに動画を制作して行きます。現地にいるからこそできる要望にあった場所の提案、スピードが重要となる旬なイベントや季節などを意識した撮影もいち早く現地から撮影することができます。インスタグラム等のソーシャルを使った代行動画、画像提供も可能です。詳しいご相談は、お気軽に問い合わせフォームにてお問い合わせください。

    <?php include('components-php/contact-form.php'); ?>

<p id="PageTopBtn"><a href="#wrap">TOPへ</a></p>
.bottom-container
  <?php include('components-php/annie-banner.php'); ?>
  <?php include('components-php/service.php'); ?>

  <?php include('components-php/business-sp.php'); ?>
  <?php include('components-php/annie-sp.php'); ?>

  <?php include('components-php/footer.php'); ?>
  <?php include('components-php/footer-sp.php'); ?>
