<?php /** *  Template Name:  コンテンツ広告サービスページ */ ?>
<?php include('head.php'); ?>


%body
  .service-page.pages.outer
    .service-page__contens
      <?php include('components-php/header02.php'); ?>
      <?php include('components-php/header-sp.php'); ?>
      .service-page__header
        コンテンツ制作/広告掲載
      .service-page__contens__bg-img

      .outer__inner
        .service-page__body.pages__container
          %ul.service-page__lists
            %li.service-page__list
              .service-page__list__header
                コンテンツ制作
              .service-page__list__body
                創業時からの主軸事業でもあるWeb制作事業です。常に最先端のデザイン、開発技術を追いかけ、ビジネスを加速させるためのイケてるWebサイトやシステムを作り続けています。
            %li.service-page__list
              .service-page__list__header
                記事広告
              .service-page__list__body
                創業時からの主軸事業でもあるWeb制作事業です。常に最先端のデザイン、開発技術を追いかけ、ビジネスを加速させるためのイケてるWebサイトやシステムを作り続けています。
            %li.service-page__list
              .service-page__list__header
                広告掲載
              .service-page__list__body
                創業時からの主軸事業でもあるWeb制作事業です。常に最先端のデザイン、開発技術を追いかけ、ビジネスを加速させるためのイケてるWebサイトやシステムを作り続けています。

    <?php include('components-php/contact-form.php'); ?>



.bottom-container
  <?php include('components-php/service.php'); ?>
  <?php include('components-php/annie-banner.php'); ?>
  <?php include('components-php/footer.php'); ?>
  <?php include('components-php/footer-sp.php'); ?>
