<?php /** *  Template Name:  コンテンツ広告サービスページ */ ?>
<?php include('head.php'); ?>


%body
  .service-page.pages.outer
    .service-page__contens
      <?php include('components-php/header02.php'); ?>
      <?php include('components-php/header-sp.php'); ?>
      .service-page__header
        コンテンツ制作/広告掲載
      .service-page__contens__bg-img

      .outer__inner
        .service-page__body.pages__container
          %ul.service-page__lists
            %li.service-page__list
              .service-page__list__header
                コンテンツ代行制作
              .service-page__list__body
                ご要望の依頼に合わせて、企画を含めたコンテンツを制作していきます。主に、アメリカ現地でしか行えない取材、企画（動画、写真を含む）を現地のスタッフともに代行して制作致します。Hatchstudiioを通したコラボ企画も可能です。（同サイトは25-30代の日本に住む海外志向のある女性の読者さんを中心に多く支持を頂いております。平均1ヶ月30万PV程 ）詳しい内容などは、お問い合わせフォームにてご気軽にご相談ください。

            %li.service-page__list
              .service-page__list__header
                記事広告
              .service-page__list__body
                依頼されたサービスや商品についての記事広告を制作します。記事の内容についての企画や構成などについても、ヒアリングさせていただきながら、ご提案させて頂きます。依頼された企画や見積もりなどによってお答えできますので、以下の問い合わせフォームにてお気軽にご相談ください。

            %li.service-page__list
              .service-page__list__header
                広告掲載
              .service-page__list__body
                当サイトの一部に広告を掲載します。掲載させていただく広告の位置は、位置と掲載期間によって異なります。詳細は、以下の料金になります。詳しい内容やご質問等は、以下の問い合わせフォームにてお気軽にご相談ください。掲載料金は、一ヶ月の料金になります。また一括前払いで週割・日割りでの契約はありません。ドル、または日本円でのお支払いになります。
              %ul.service-page__list__detail
                %li
                  1枠 サイドバー (モバイル対応)
                  30,000円
                %li
                  1枠 記事内 (モバイル対応)
                  30,000円　
                %li
                  1枠 記事ページ　サイドスクロール固定
                  20,000円


    <?php include('components-php/contact-form.php'); ?>



.bottom-container
  <?php include('components-php/service.php'); ?>
  <?php include('components-php/annie-banner.php'); ?>
  <?php include('components-php/footer.php'); ?>
  <?php include('components-php/footer-sp.php'); ?>
