<?php /** *  Template Name:  翻訳サービスページ */ ?>
<?php include('head.php'); ?>

%body
  .service-page.pages.outer
    .service-page__translate
      <?php include('components-php/header02.php'); ?>
      <?php include('components-php/header-sp.php'); ?>
      .service-page__header
        通訳・翻訳サービス
      .service-page__translate__bg-img

      .outer__inner
        .service-page__body.pages__container
          %ul.service-page__lists
            %li.service-page__list
              .service-page__list__header
                現地企業 視察通訳（ ポートランド サンフランシスコ ）
              .service-page__list__body
                創業時からの主軸事業でもあるWeb制作事業です。常に最先端のデザイン、開発技術を追いかけ、ビジネスを加速させるためのイケてるWebサイトやシステムを作り続けています。
            %li.service-page__list
              .service-page__list__header
                WEBサイト翻訳
              .service-page__list__body
                創業時からの主軸事業でもあるWeb制作事業です。常に最先端のデザイン、開発技術を追いかけ、ビジネスを加速させるためのイケてるWebサイトやシステムを作り続けています。
            %li.service-page__list
              .service-page__list__header
                定期オウンドメディア用　英文記事 翻訳
              .service-page__list__body
                創業時からの主軸事業でもあるWeb制作事業です。常に最先端のデザイン、開発技術を追いかけ、ビジネスを加速させるためのイケてるWebサイトやシステムを作り続けています。
            %li.service-page__list
              .service-page__list__header
                レポート、論文
              .service-page__list__body
                創業時からの主軸事業でもあるWeb制作事業です。常に最先端のデザイン、開発技術を追いかけ、ビジネスを加速させるためのイケてるWebサイトやシステムを作り続けています。






.bottom-container
  <?php include('components-php/service.php'); ?>
  <?php include('components-php/annie-banner.php'); ?>
  <?php include('components-php/footer.php'); ?>
  <?php include('components-php/footer-sp.php'); ?>
