%section.section.ad-banner.hatching-house.zigzag
  .hatching-house__header
    .hatching-house__header--jp
      初渡米！女性一人旅でも安心なハウス
    .hatching-house__header--en.flexbox
      .hatching-house__header--icon
        <img src="<?php echo get_template_directory_uri(); ?>/images/house-text-usa.svg">
      .hatching-house__header--txt
        <img src="<?php echo get_template_directory_uri(); ?>/images/house-txt.svg">
  .hatching-house__container.flexbox
    %ul.hatching-house__pictures.flexbox
      %li.hatching-house--berkeley
        .hatching-house--img
          <img src="<?php echo get_template_directory_uri(); ?>/images/house-img-berkeley.jpg">
        .hatching-house--txt
          UCバークレー家探しサポート
      %li.hatching-house--concord
        .hatching-house--img
          <img src="<?php echo get_template_directory_uri(); ?>/images/house-img-portland.jpg">
        .hatching-house--txt
          ポートランド宿泊ゲストハウス
      %li.hatching-house--portland
        .hatching-house--img
          <img src="<?php echo get_template_directory_uri(); ?>/images/house-img-sf.jpg">
        .hatching-house--txt
          SFバークレーシェアハウス
    .hatching-house__btn--img
      <img src="<?php echo get_template_directory_uri(); ?>/images/pink-guy.svg">
