%section.section.ad-banner.hatching-house.zigzag.zigzag-blue
  .outer__inner
    .flexbox
      .hatching-house__header
        .hatching-house__header--jp
          初渡米！女性一人旅でも安心なハウス
        .hatching-house__header--en.flexbox
          .hatching-house__header--icon
            <img src="<?php echo get_template_directory_uri(); ?>/images/house-text-usa.svg">
          .hatching-house__header--txt
            <img src="<?php echo get_template_directory_uri(); ?>/images/house-txt.svg">
      .hatching-house__btn--img
        <img src="<?php echo get_template_directory_uri(); ?>/images/pink-guy.svg">
    .hatching-house__container
      %ul.hatching-house__pictures.flexbox--spacebetween
        %li.hatching-house--berkeley
          :plain
            <a href="<?php echo esc_url( home_url( '/real-estate' ) ); ?>" class="megamenu-inner-text">
              <figure class="hatching-house--img">
                <img src="<?php echo get_template_directory_uri(); ?>/images/house-img-berkeley.jpg">
                <figcaption>
                  <p>
                    もっと詳しく見る
                    <i class="fas fa-angle-double-right"></i>
                  </p>
                </figcaption>
              </figure>
              <div class="hatching-house--txt">
                UCバークレー家探しサポート
              </div>
            </a>

        %li.hatching-house--concord
          :plain
            <a href="<?php echo esc_url( home_url( '/guest-house' ) ); ?>" class="megamenu-inner-text">
              <figure class="hatching-house--img">
                <img src="<?php echo get_template_directory_uri(); ?>/images/house-img-portland.jpg">
                <figcaption>
                  <p>
                    もっと詳しく見る
                    <i class="fas fa-angle-double-right"></i>
                  </p>
                </figcaption>
              </figure>
              <div class="hatching-house--txt">
                ポートランド宿泊ゲストハウス
              </div>
            </a>

        %li.hatching-house--portland
          :plain
            <figure class="hatching-house--img">
              <img src="<?php echo get_template_directory_uri(); ?>/images/house-img-sf.jpg">
              <figcaption>
                <p>
                  COMMINEG SOON!
                </p>
              </figcaption>
            </figure>
            <div class="hatching-house--txt">
             SFバークレーシェアハウス
            </div>
