.side-menu-list
  .side-menu-list__li
    %p.side-menu-list__title
      %i.fa.fa-list-ul
      カテゴリーから探す
      %ul
        %li
          <a href="<?php bloginfo('url'); ?>/category/fashion/" <?php if(is_category('fashion')) echo 'class="iscurrent"'; ?>>ファション</a>
        %li
          <a href="<?php bloginfo('url'); ?>/category/gourmet/" <?php if(is_category('gourmet')) echo 'class="iscurrent"'; ?>>お出かけ/グルメ</a>
        %li
          <a href="<?php bloginfo('url'); ?>/category/lifestyle/" <?php if(is_category('lifestyle')) echo 'class="iscurrent"'; ?>>ライフ/DIY</a>
        %li
          <a href="<?php bloginfo('url'); ?>/category/cosmetics/" <?php if(is_category('cosmetics')) echo 'class="iscurrent"'; ?>>美容/コスメ</a>
  .side-menu-list__li
    %p.side-menu-list__title
      %i.fa.fa-globe
      キーワードから探す
      %ul
        %li
          <a href="<?php bloginfo('url'); ?>/tag/organic/" <?php if(is_tag('organic')) echo 'class="iscurrent"'; ?>>オーガニック</a>
        %li
          <a href="<?php bloginfo('url'); ?>/tag/ethical/" <?php if(is_tag('ethical')) echo 'class="iscurrent"'; ?>>エシカル</a>
        %li
          <a href="<?php bloginfo('url'); ?>/tag/fairtrade/" <?php if(is_tag('fairtrade')) echo 'class="iscurrent"'; ?>>フェアトレード</a>
        %li
          <a href="<?php bloginfo('url'); ?>/tag/local/" <?php if(is_tag('local')) echo 'class="iscurrent"'; ?>>ローカル</a>


  .side-menu-list__li
    %p.side-menu-list__title
      %i.fa.fa-leaf
      アイテムから探す
      %ul
        %li
          <a href="<?php bloginfo('url'); ?>/tag/tops/" <?php if(is_tag('tops')) echo 'class="iscurrent"'; ?>>トップス</a>
        %li
          <a href="<?php bloginfo('url'); ?>/tag/bottoms/" <?php if(is_tag('bottoms')) echo 'class="iscurrent"'; ?>>ボトムス</a>
        %li
          <a href="<?php bloginfo('url'); ?>/tag/dresses/" <?php if(is_tag('dresses')) echo 'class="iscurrent"'; ?>>ドレス</a>
        %li
          <a href="<?php bloginfo('url'); ?>/tag/accessories/" <?php if(is_tag('accessories')) echo 'class="iscurrent"'; ?>>アクセサリー</a>
        %li
          <a href="<?php bloginfo('url'); ?>/tag/lingerie/" <?php if(is_tag('lingerie')) echo 'class="iscurrent"'; ?>>ランジェリー</a>

  .side-menu-list__li
    %p.side-menu-list__title
      %i.fa.fa-bookmark
      ブランドから探す
      %ul
        %li
          <a href="<?php bloginfo('url'); ?>/tag/anthropologie-co/" <?php if(is_tag('anthropologie-co')) echo 'class="iscurrent"'; ?>>Anthropologie & Co.</a>
        %li
          <a href="<?php bloginfo('url'); ?>/tag/madewell/" <?php if(is_tag('madewell')) echo 'class="iscurrent"'; ?>>Madewell</a>
        %li
          <a href="<?php bloginfo('url'); ?>/tag/free-people/" <?php if(is_tag('free-people')) echo 'class="iscurrent"'; ?>>Free People</a>
        %li
          <a href="<?php bloginfo('url'); ?>/tag/pendleton/" <?php if(is_tag('pendleton')) echo 'class="iscurrent"'; ?>>Pendleton</a>
        %li
          <a href="<?php bloginfo('url'); ?>/tag/poler/" <?php if(is_tag('poler')) echo 'class="iscurrent"'; ?>>POLeR</a>
        %li
          <a href="<?php bloginfo('url'); ?>/tag/portland-gear/" <?php if(is_tag('portland-gear')) echo 'class="iscurrent"'; ?>>Portland Gear</a>



