<?php include('head.php'); ?>
%body
  .single-page.outer
    <?php include('components-php/header02.php'); ?>
    <?php include('components-php/header-sp.php'); ?>

    .outer__inner
      .single__container
        .single__container__body.flexbox--h-center
          .middle-contain
            %h1.single-page__head-title
              <?php the_title_attribute(); ?>
            .single-page__tags
              <?php the_tags( '分類タグ : ',' 　' ); ?>
              %span
                <?php $slug_name = basename(get_permalink()); ?>タグ
            .single-page__detail.flexbox--spacebetween
              .single-page__sns-icons.flexbox
                .sns-icons__img
                  <img src="<?php echo get_template_directory_uri(); ?>/images/share-facebook-icon.svg">
                .sns-icons__img
                  <img src="<?php echo get_template_directory_uri(); ?>/images/share-twitter-icon.svg">
                .sns-icons__img
                  <img src="<?php echo get_template_directory_uri(); ?>/images/share-pokect-icon.svg">

              .single-page__post-info.flexbox
                .single-page__dates
                  <?php the_time('Y/m/d'); ?>
                .single-page__author__img.circle
                  <img src="<?php echo get_template_directory_uri(); ?>/images/popo.jpg">

            .single-page__eyecatch-img
              <a href="<?php the_permalink(); ?>"><?php the_post_thumbnail(); ?></a>
            .single-page__entry-content
              <?php if ( have_posts() ) : ?>
              <?php while ( have_posts() ) : the_post(); ?>
              <?php the_content();?>
              <?php endwhile; ?>
              <?php else : ?>
              <?php endif; ?>

            <?php include('components-php/wrote-models-box.php'); ?>

            .single-page__post-down__sns-icons.flexbox--spacebetween
              .sns-icons__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/facebook-long-btn.svg">
              .sns-icons__img
                <img src="<?php echo get_template_directory_uri(); ?>/images/twitter-long-btn.svg">

            <?php include('components-php/affiliate-ad.php'); ?>
            <?php include('components-php/article-sns-btns.php'); ?>
            <?php include('components-php/related-article.php'); ?>
            <?php include('components-php/paging-nav.php'); ?>


          .column-4.side-contain
            :plain
              <!-- 広告 -->
              <!-- 四角はっち公告 -->
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <ins class="adsbygoogle"
                style="display:inline-block;width:336px;height:280px"
                data-ad-client="ca-pub-1574488309106788"
                data-ad-slot="5136876359"></ins>
              <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
              <!-- 広告 -->

            <?php include('components-php/keywords-category.php'); ?>
            <?php include('components-php/keywords.php'); ?>

            <?php include('components-php/news-list.php'); ?>
            <?php include('components-php/news-list.php'); ?>
            <?php include('components-php/keywords-category.php'); ?>

            <?php include('components-php/annie-ad-side.php'); ?>
            <?php include('components-php/house-ad-side.php'); ?>
            <?php include('components-php/business-ad-side.php'); ?>
            .side-fixed-area



    .outer__inner
      .single__container__bottom.flexbox--h-center
        <?php include('components-php/bt-news-list.php'); ?>
        <?php include('components-php/bt-category-popular.php'); ?>

<?php include('components-php/annie-banner.php'); ?>
<?php include('components-php/footer.php'); ?>
<?php include('components-php/footer-sp.php'); ?>


