<?php include('head.php'); ?>
%body
  .single-page.outer
    <?php include('components-php/header02.php'); ?>
    <?php include('components-php/header-sp.php'); ?>

    .outer__inner
      .single__container
        .single__container__body.flexbox--spacebetween
          .middle-contain
            %h1.single-page__head-title
              <?php the_title_attribute(); ?>
            .flexbox
              .single-page__views
                <i class="fas fa-heart"></i>
                :plain
                  <?php if(function_exists('the_views')) {
                    the_views();
                  } ?>
              .single-page__tags
                <?php the_category( '  ',' 　' ); ?>
                <?php $slug_name = basename(get_permalink()); ?>
            .single-page__detail.flexbox--spacebetween
              .single-page__sns-icons.flexbox
                .sns-icons__img
                  <a href="http://www.facebook.com/share.php?u=<?php the_permalink(); ?>&t=<?php echo get_the_title(); ?>">
                  <img src="<?php echo get_template_directory_uri(); ?>/images/share-facebook-icon.svg">
                  </a>
                .sns-icons__img
                  <a class="btn--twitter" href="http://twitter.com/share?url=<?php the_permalink();?>&text=<?php echo get_the_title(); ?>&via=hatchstudioinc&tw_p=tweetbutton&related=hatchstudioinc">
                  <img src="<?php echo get_template_directory_uri(); ?>/images/share-twitter-icon.svg"></a>
                .sns-icons__img
                  <a class="btn--pocket" href="http://getpocket.com/edit?url=<?php the_permalink();?>&title=<?php echo get_the_title;?>">
                  <img src="<?php echo get_template_directory_uri(); ?>/images/share-pokect-icon.svg">
                  </a>
              .single-page__post-info.flexbox
                .single-page__dates
                  <?php the_time('Y/m/d'); ?>
                .single-page__author__img.circle
                  <a href="<?php echo get_author_posts_url( get_the_author_meta( 'ID' ) ); ?>"><img src="<?php echo get_template_directory_uri(); ?>/images/popo.jpg"></a>

            .single-page__eyecatch-img
              <a href="<?php the_permalink(); ?>"><?php the_post_thumbnail(); ?></a>
            .single-page__entry-content
              <?php if ( have_posts() ) : ?>
              <?php while ( have_posts() ) : the_post(); ?>
              <?php the_content();?>
              <?php endwhile; ?>
              <?php else : ?>
              <?php endif; ?>

            <?php include('components-php/wrote-models-box.php'); ?>
            <?php include('components-php/affiliate-ad.php'); ?>
            <?php include('components-php/article-sns-btns.php'); ?>
            <?php include('components-php/related-article.php'); ?>
            <?php include('components-php/this-page-tags.php'); ?>
            <?php include('components-php/category-keywords.php'); ?>
            <?php include('components-php/paging-nav.php'); ?>

          .side-contain
            <?php include('components-php/affiliate-ad-sky.php'); ?>
            <?php include('components-php/lists-popular-total.php'); ?>
            <?php include('components-php/lists-category-total.php'); ?>
            <?php include('components-php/keywords.php'); ?>
            <?php include('components-php/annie-ad-side.php'); ?>
            <?php include('components-php/house-ad-side.php'); ?>
            <?php include('components-php/business-ad-side.php'); ?>
            .side-amazon-ad
              <img src="<?php echo get_template_directory_uri(); ?>/images/amazon-ad.svg">
            .side-fixed-area

    .outer__inner
      .articles__container__bottom.flexbox--spacebetween
        .bt-left
          <?php include('components-php/bt-news-lists.php'); ?>
        .bt-right
          <!-- ?php include('components-php/affiliate-ad-article.php'); ? -->
          <?php include('components-php/bt-popular-month.php'); ?>
<p id="PageTopBtn"><a href="#wrap">TOPへ</a></p>
.bottom-container
  <?php include('components-php/service.php'); ?>
  <?php include('components-php/business-sp.php'); ?>
  <?php include('components-php/annie-banner.php'); ?>
  <?php include('components-php/footer.php'); ?>
  <?php include('components-php/footer-sp.php'); ?>
