%section.section.ad-banner.blogger
  .blogger__container.outer__inner
    .flexbox
      .blogger__header.flexbox--h-center
        .blogger__header--img
          <img src="<?php echo get_template_directory_uri(); ?>/images/yman.svg">
        .blogger__header--txt
          コラボしたブロガー＆メディア＆企業さん
      .blogger__body.flexbox--spacearound
        .blogger__box
          .blogger__box__img.circle
            <img src="<?php echo get_template_directory_uri(); ?>/images/popo.jpg">
          .blogger__box__name
            365日おいしいものだけ


        .blogger__box
          .blogger__box__img.circle
            <img src="<?php echo get_template_directory_uri(); ?>/images/yuno.jpg">
          .blogger__box__name
            ゾニーとキッズ☆アメリカ4コマ物語☆

        .blogger__box
          .blogger__box__img.circle
            <img src="<?php echo get_template_directory_uri(); ?>/images/theuslife.jpg">
          .blogger__box__name
            THE US LIFE

        .blogger__box
          .blogger__box__img.circle
            <img src="<?php echo get_template_directory_uri(); ?>/images/panera.jpg">
          .blogger__box__name
            Happy California Life♪

        .blogger__box
          .blogger__box__img.circle
            <img src="<?php echo get_template_directory_uri(); ?>/images/kaodebi.jpg">
          .blogger__box__name
            バークレーからこんにちは。

        .blogger__box
          .blogger__box__img.circle
            <img src="<?php echo get_template_directory_uri(); ?>/images/yuko.jpg">
          .blogger__box__name
            アメリカ国際結婚バツイチアラサー
        .blogger__box
          .blogger__box__img.circle
            <img src="<?php echo get_template_directory_uri(); ?>/images/motto.jpg">
          .blogger__box__name
            もっとサンフランシスコ

        .blogger__box
          .blogger__box__img.circle
            <img src="<?php echo get_template_directory_uri(); ?>/images/takagi.jpg">
          .blogger__box__name
            世界中で暮らす。

        .blogger__box
          .blogger__box__img.circle
            <img src="<?php echo get_template_directory_uri(); ?>/images/miki.png">
          .blogger__box__name
            アラサー女子のシリコンバレー奮闘記

        .blogger__box
          .blogger__box__img.circle
            <img src="<?php echo get_template_directory_uri(); ?>/images/freerider.jpg">
          .blogger__box__name
            フリーライダー(YOUTUBER)

        .blogger__box
          .blogger__box__img.circle
            <img src="<?php echo get_template_directory_uri(); ?>/images/EF.jpg">
          .blogger__box__name
            EF エデュケーション

        .blogger__box
          .blogger__box__img.circle
            <img src="<?php echo get_template_directory_uri(); ?>/images/theintern.jpg">
          .blogger__box__name
            The Intern

        .blogger__box
          .blogger__box__img.circle
            <img src="<?php echo get_template_directory_uri(); ?>/images/hanterbook.png">
          .blogger__box__name
            hanter book

        .blogger__box
          .blogger__box__img.circle
            <img src="<?php echo get_template_directory_uri(); ?>/images/you.png">
          .blogger__box__name
            YOU
