%section.section.ad-banner.blogger
  .blogger__container
    .blogger__header--img
      <img src="<?php echo get_template_directory_uri(); ?>/images/yman.svg">
    .blogger__header
      これまでのコラボしたブロガー＆メディア＆企業さん

    .blogger__body.flexbox
      .blogger__box
        .blogger__box__img.circle
          <img src="<?php echo get_template_directory_uri(); ?>/images/popo.jpg">
        .blogger__box__name
          365日おいしいものだけ
      .cross-img
        <img src="<?php echo get_template_directory_uri(); ?>/images/bathu.svg">


      .blogger__box
        .blogger__box__img.circle
          <img src="<?php echo get_template_directory_uri(); ?>/images/yuno.jpg">
        .blogger__box__name
          ゾニーとキッズ☆アメリカ4コマ物語☆
      .cross-img
        <img src="<?php echo get_template_directory_uri(); ?>/images/bathu.svg">

      .blogger__box
        .blogger__box__img.circle
          <img src="<?php echo get_template_directory_uri(); ?>/images/theuslife.jpg">
        .blogger__box__name
          THE US LIFE
      .cross-img
        <img src="<?php echo get_template_directory_uri(); ?>/images/bathu.svg">

      .blogger__box
        .blogger__box__img.circle
          <img src="<?php echo get_template_directory_uri(); ?>/images/panera.jpg">
        .blogger__box__name
          Happy California Life♪
      .cross-img
        <img src="<?php echo get_template_directory_uri(); ?>/images/bathu.svg">

      .blogger__box
        .blogger__box__img.circle
          <img src="<?php echo get_template_directory_uri(); ?>/images/kaodebi.jpg">
        .blogger__box__name
          バークレーからこんにちは。

      .blogger__box
        .blogger__box__img.circle
          <img src="<?php echo get_template_directory_uri(); ?>/images/yuko.jpg">
        .blogger__box__name
          アメリカ国際結婚バツイチアラサー
      .cross-img
        <img src="<?php echo get_template_directory_uri(); ?>/images/bathu.svg">
      .blogger__box
        .blogger__box__img.circle
          <img src="<?php echo get_template_directory_uri(); ?>/images/motto.jpg">
        .blogger__box__name
          もっとサンフランシスコ
      .cross-img
        <img src="<?php echo get_template_directory_uri(); ?>/images/bathu.svg">

      .blogger__box
        .blogger__box__img.circle
          <img src="<?php echo get_template_directory_uri(); ?>/images/takagi.jpg">
        .blogger__box__name
          世界中で暮らす。
      .cross-img
        <img src="<?php echo get_template_directory_uri(); ?>/images/bathu.svg">

      .blogger__box
        .blogger__box__img.circle
          <img src="<?php echo get_template_directory_uri(); ?>/images/miki.png">
        .blogger__box__name
          アラサー女子のシリコンバレー奮闘記
      .cross-img
        <img src="<?php echo get_template_directory_uri(); ?>/images/bathu.svg">

      .blogger__box
        .blogger__box__img.circle
          <img src="<?php echo get_template_directory_uri(); ?>/images/freerider.jpg">
        .blogger__box__name
          フリーライダー(YOUTUBER)

      .blogger__box
        .blogger__box__img.circle
          <img src="<?php echo get_template_directory_uri(); ?>/images/EF.jpg">
        .blogger__box__name
          EF エデュケーション
      .cross-img
        <img src="<?php echo get_template_directory_uri(); ?>/images/bathu.svg">

      .blogger__box
        .blogger__box__img.circle
          <img src="<?php echo get_template_directory_uri(); ?>/images/theintern.jpg">
        .blogger__box__name
          The Intern
      .cross-img
        <img src="<?php echo get_template_directory_uri(); ?>/images/bathu.svg">

      .blogger__box
        .blogger__box__img.circle
          <img src="<?php echo get_template_directory_uri(); ?>/images/hanterbook.png">
        .blogger__box__name
          hanter book
      .cross-img
        <img src="<?php echo get_template_directory_uri(); ?>/images/bathu.svg">

      .blogger__box
        .blogger__box__img.circle
          <img src="<?php echo get_template_directory_uri(); ?>/images/you.png">
        .blogger__box__name
          YOU