<?php /** *  Template Name: カテゴリーページ */ ?>
<?php include('head.php'); ?>

%body
  .category-page.category.outer
    <?php include('components-php/header02.php'); ?>
    <?php include('components-php/header-sp.php'); ?>

    .outer__inner
      .category__container
        .category__container__body.flexbox--h-center
          .middle-contain
            %h1.components-title
              『 <?php echo get_the_archive_title(); ?> 』の関連記事一覧
            :plain
              <ul class='post-lists article-list flexbox'>
                <?php $args = array(
                  'posts_per_page' => 14,                //表示（取得）する記事の数
                  'post_type' => 'post'    //投稿タイプの指定
                );
                $posts = get_posts( $args );
                  if( $posts ) : foreach( $posts as $post) : setup_postdata( $post ); ?>
                      <li class=''>
                        <div class='post-lists__img article-list__img'>
                          <a href="<?php the_permalink(); ?>"><?php the_post_thumbnail(); ?></a>
                        </div>
                        <div class='post-lists__text article-list__text'>
                          <h3 class='post-lists__title list-title'>
                            <a href="<?php the_permalink(); ?>"><?php the_title(); ?></a>
                          </h3>
                        </div>
                      </li>
                  <?php endforeach; ?>
                  <?php if(function_exists('wp_pagenavi')) { wp_pagenavi(); } ?>
                  <?php else : //記事が無い場合 ?>
                    <li><p>記事はまだありません。</p></li>
                  <?php endif;
                  wp_reset_postdata(); //クエリのリセット ?>
              </ul>
          .column-4.side-contain
            :plain
              <!-- 広告 -->
              <!-- 四角はっち公告 -->
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <ins class="adsbygoogle"
                style="display:inline-block;width:336px;height:280px"
                data-ad-client="ca-pub-1574488309106788"
                data-ad-slot="5136876359"></ins>
              <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
              <!-- 広告 -->

            <?php include('components-php/news-list.php'); ?>
            <?php include('components-php/news-list.php'); ?>
            <?php include('components-php/keywords.php'); ?>

            <?php include('components-php/house-ad-side.php'); ?>
            <?php include('components-php/business-ad-side.php'); ?>
            .side-fixed-area

    .outer__inner
      .articles__container__bottom.flexbox--h-center
        <?php include('components-php/bt-news-lists.php'); ?>
        <?php include('components-php/bt-popular-month.php'); ?>

<p id="PageTopBtn"><a href="#wrap">TOPへ</a></p>
.bottom-container
  <?php include('components-php/service.php'); ?>
  <?php include('components-php/annie-banner.php'); ?>
  <?php include('components-php/footer.php'); ?>
  <?php include('components-php/footer-sp.php'); ?>
