.ad-banner.annie-sp.flexbox
  .annie-img
    <img src="<?php echo get_template_directory_uri(); ?>/images/annie-banner.jpg">
  .annie-content.flexbox
    .annie-content__container
      .annie-header-sub
        姉妹サイトOPEN
      .annie-header-main
        旅するように暮らそう。
      %button.btn.btn-round-white-02
        <a href="https://anniejene.com//">サイトはこちらから</a>
