%section.section.featured-contens
  .outer__inner.featured-contens__box.flexbox--spacearound
    .featured-contens__box--img
      <img src="<?php echo get_template_directory_uri(); ?>/images/featured-contens__engineer.svg">
    .featured-contens__box--img
      <img src="<?php echo get_template_directory_uri(); ?>/images/featured-contens__bad-story.svg">
    .featured-contens__box--img
      <img src="<?php echo get_template_directory_uri(); ?>/images/featured-contens__bad-food.svg">
    .featured-contens__box--img
      <img src="<?php echo get_template_directory_uri(); ?>/images/featured-contens__bad-amazon.svg">
