%section.section.featured-contens
  .featured-contens__box.flexbox--spacearound
    .featured-contens__box--img
      <a href="https://anniejene.com//"><img src="<?php echo get_template_directory_uri(); ?>/images/featured-contens__engineer.svg"></a>
    .featured-contens__box--img
      <a href="https://anniejene.com//"><img src="<?php echo get_template_directory_uri(); ?>/images/featured-contens__bad-story.svg"></a>
    .featured-contens__box--img
      <a href="https://anniejene.com//"><img src="<?php echo get_template_directory_uri(); ?>/images/featured-contens__bad-food.svg"></a>
    .featured-contens__box--img
      <a href="https://anniejene.com//"><img src="<?php echo get_template_directory_uri(); ?>/images/featured-contens__bad-amazon.svg"></a>
