.house-ad-side.house
  .house-content
    .house-header-sub
      女性一人でも安心して泊まれる家
    .house-header
      <img src="<?php echo get_template_directory_uri(); ?>/images/side-house-text.svg">


    .house-img
      <img src="<?php echo get_template_directory_uri(); ?>/images/house-img-portland.jpg">
    %button.btn.btn-round-white-02
      <a href="<?php echo esc_url( home_url( '/guest-house' ) ); ?>">詳細はこちら</a>
