.profile
  .profile-img
    <img src="<?php echo get_template_directory_uri(); ?>/images/profile-img.svg">
  .profile-txt
    %p.profile-txt__header
      アメリカでふらつく『暇人ブー』
    %p.profile-txt__body
      2012年にひとりで渡米。日本のブラック企業辞め、アメリカでエンジニアになり、ブロガーになり、シェアハウス運営を経て、現在プー太郎。（趣味：ゴミ、ガラクタ集め。）
      変人の街、ポートランドで全力で暇をつぶす生活をお届けします。
  .profile-sns-box
    .profile-sns-box-img
      .sns-icons
        .sns-icons__icon
          <a href="https://www.facebook.com/hatchstudioinc"><img src="<?php echo get_template_directory_uri(); ?>/images/facebook-icon.svg"></a>
        .sns-icons__icon
          <a href="https://twitter.com/hatchstudioinc"><img src="<?php echo get_template_directory_uri(); ?>/images/twitter-icon.svg"></a>
        .sns-icons__icon
          <a href="https://www.instagram.com/annie_jene/"><img src="<?php echo get_template_directory_uri(); ?>/images/instgram-icon.svg"></a>
