%section.section.qar-contens
  .outer__inner.qar-contens__box.flexbox
    .qar-contens__box__txt.flexbox--h-center
      .qar-contens__box__txt--img-top
        <img src="<?php echo get_template_directory_uri(); ?>/images/qar-contens__qar-boo.svg">
      .qar-contens__box__txt--mid
        記事にして欲しいネタ募集中
      .qar-contens__box__txt--img-btm
        <img src="<?php echo get_template_directory_uri(); ?>/images/qar-contens__qar-txt.svg">
    .qar-contens__box__character
      <img src="<?php echo get_template_directory_uri(); ?>/images/qar-contens__qar-img.svg">
    .qar-contens__box__btn
      %button.btn.btn-round-white-02
        <a href="https://anniejene.com//">過去の読者の相談を見てみる or 相談してみる</a>
