%section.section.featured-contens
  .outer__inner.featured-contens__box
    .featured-contens__box--img
      <img src="<?php echo get_template_directory_uri(); ?>/images/featured-contens__q&a-boo.svg">
      <img src="<?php echo get_template_directory_uri(); ?>/images/featured-contens__q&a-txt.svg">
      <img src="<?php echo get_template_directory_uri(); ?>/images/featured-contens__q&a-img.svg">
