.sns-area.flexbox
  .sns-area__img
    <img src="<?php echo get_template_directory_uri(); ?>/images/liked-box-pic.jpg">
  .sns-area__info
    .sns-area__logo
      <img src="<?php echo get_template_directory_uri(); ?>/images/black-logo.svg" width="80">
    .sns-area__title
      ANNIEの最新情報をチェックしよう！
    .sns-icons.flexbox
      <a href="https://www.instagram.com/annie_jene/"><img src="<?php echo get_template_directory_uri(); ?>/images/squere-Instagram.svg" width="50"></a>
      <a href="https://www.facebook.com/Annie-Jene-226289061241623/"><img src="<?php echo get_template_directory_uri(); ?>/images/squere-facebook.svg" width="50"></a>
      <a href="https://twitter.com/bohostyle_love"><img src="<?php echo get_template_directory_uri(); ?>/images/squere-witter.svg" width="50"></a>
