.margin-center{
	margin: 0 auto;

}

.flexbox{
	@include flexbox(flex-start,flex-start);
	flex-wrap: wrap;
	&--h-center{
		@extend .flexbox;
		justify-content: center;
	}
	&--h-bottom{
		@extend .flexbox;
		justify-content: flex-end;
	}
	&--v-center{
		@extend .flexbox;
		align-items: center;
	}
	&--v-bottom{
		@extend .flexbox;
		align-items: flex-end;
	}
	&--spacebetween{
		@extend .flexbox;
		justify-content: space-between;
	}
	&--spacearound{
		@extend .flexbox;
		justify-content: space-around;
	}
	&--streach{
		@extend .flexbox;
		align-items: stretch;
	}
}


.floating{
	@include clearfix;
	&__photo{
		&--left{
			float: left;
			margin: 0 30px 30px 0px;
		}
		&--right{
			float: right;
			margin: 0 0 30px 30px;
		}
	}
	&__text{
		p{
			@include fts(16,30);
			strong{font-weight: bold;}
		}
		p+p{
			margin-top: 30px;
		}
	}
}



@for $i from 1 through 15 {
  .column-#{$i} {
    width : (63*$i)+(20*$i)-20+px;
  }
}


//くるっと回るナビゲーションのフォーバーCSS処理


.header-bar__nav__list ul li{
	text-align: center;
	margin: 0;
	padding: 20px 0;
}

.c-link {
	transition: all .3s;
	position: relative;
	&:hover {
		text-decoration: none;
	}
}

.c-link--bold {
	overflow: hidden;
	display: inline-block;

	span {
		position: relative;
		display: inline-block;
		transition: all .3s;
		&:before {
			position: absolute;
			top: 100%;
			left: 38%;
			font-size: 10px;
			content: "●";
			color: #ffde8d;
			transform: translate3d(0, 0, 0);
		}
	}

	&:hover {
		span {
			transform: translateY(-100%);
		}
	}
}

//メガメニュー

.gnav {
	display: flex;
	justify-content: space-between;
}


.gnav a {
	padding: 0 10px;
}


.gnav > li:hover .megamenu {
	width: 100%;
	max-height: 9999px;
	opacity: 1;

	a.megamenu-inner-text{
		color: #a9a9a9;
	}
}

	.megamenu {
		background: #ffe4e4;
		max-height: 0;
		overflow: hidden;
		width: 100%;
		position: absolute;
		top: 253px;
		left: 0;
		transition: all .2s ease-in;
		z-index: 999;
		font-size: 13px;
	}

	.scrolled .megamenu {
		position: absolute;
		top: 70px;
		left: 0;
	}


.index {
	.megamenu {
		position: absolute;
		top: 339px !important;
		left: 0;
	}
	.scrolled .megamenu {
		position: absolute;
		top: 70px !important;
		left: 0;
	}

}

.pages{
	.megamenu {
		position: absolute;
		top: 253px !important;
		left: 0;
	}
	.scrolled .megamenu {
		position: absolute;
		top: 70px !important;
		left: 0;
	}
}


	.megamenu-inner {
		display: flex;
		flex-wrap: wrap;
	}

	.megamenu-inner li {
		width: calc( (100% / 5) );
		padding: 0;
	}

	.megamenu-inner a {
		border-left: none;
	}

	.megamenu-inner-img {
		margin: 0 0 10px;
	}

	.megamenu-inner-text img {
		margin: 0 5px 0 0;
	}
