/*未完成コンテンツ 現在非表示*/

/*今日のおすすめラインナップ*/
.shopping-banner{
  display: none;
}
/*一覧ページへのリンク*/
.more-page{
  display: none;

}
/*おすすめ一覧*/
.recommend-list{
  display: none;
}

/*記者一覧*/
.models-lists{
  display: none;

}

#douga{
  height: 422px;
  overflow: hidden;
  background: url(images/index-top-banner02.png) no-repeat;
  margin-bottom: 50px;
  background-size: contain;

}



.youtube-video{
  position:relative;
  width:100%;
  padding-top:56.25%;
}
.youtube-video iframe{
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
}


.douga{
  position: relative;
  margin: 0 auto;
  width: 100%;
  z-index: 1000;
}

#douga iframe{
  position: relative;
  left: 0 !important;
  top: -316px !important;
  width: 100% !important;
  height: 300% !important;

}


/*

	common

*************************************************/

body{
  line-height: 1.75;
  color: #545b63;
}


a {
  text-decoration: none;
  color: #666;
}

a:hover{
  text-decoration: underline;
}

a:hover img { opacity: 0.5 ; }

.keywords {
  a:before {
    content: "#";
    padding-right: 3px;
  }
}

::selection {
  background: #ffe0e0;
}


.big-btn {
  background: $main_color;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 43px;
  width: 250px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 20px;
  color: #fff !important;
  transition: .2s;

  a {
    color: #ffff;
  }
  a:hover{
    text-decoration:none;
  }

}
.big-btn:hover {
  background: #ffdcdb;
  color: $main_color !important;
}

.outer__inner {
  padding-top: 50px;
}


.side-fixed-content{
  position: fixed;
  top: 15%;
  width: 277px;
}





//Firefox
::-moz-selection {
  background: #ffe0e0;
}

.search__box {
  #searchsubmit {
    display: none;
  }
  form#searchform {
    background-color: white;
    width: 200px;
    height: 30px;
    border: 1px $main_color solid;
    border-radius: 10px;
    color:$main_color;
    padding: 2px 12px;
    #s {
      input {
        width: 190px;
        vertical-align: top;
        margin: 0px;
        height: 100%;
        box-sizing: border-box;
        background-color: transparent;
      }
      border: none;
      margin-left: 3px;
      background-image: url(../-images/sarch-icon.svg);
      background-position: right;
      background-size: auto 73%;
      background-repeat: no-repeat;
      width: 173px;
    }
  }
}

.breadcrumbs {
  font-size: 10px;
  color: #a5a5a5;
  letter-spacing: 1px;
  .fa-home {
    font-size: 16px;
  }
}



.pages {
  .breadcrumbs {
  }
  .outer__inner {
    margin: 0 auto;
  }
}


.components-title {
  @include fts(10, 10);
  padding: 20px 0;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 0.9px;
  color: #737373;
  background-color: #ffede9;

}

.sns-icons {
  width: 300px;
  &__icon {
    width: 32px;
    padding-right: 10px;
  }
}

.category-icon{
  padding: 3px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
  background-color: #f2695d;
  color: #fff;
  letter-spacing: 1px;
  font-size: 12px !important;
}

/*

	js(Flexboxで全体を中央に配置しつつ最後の行を左揃えにする):more-search-articleで使用

*************************************************/

.grid {
  flex-flow: row wrap;
}


.cell.is-empty {
  height: 0;
  padding: 0;
  margin: 0 6px;
}


/*

	トップページへ戻る

*************************************************/

/* パソコン・スマホ共通のCSS */
#PageTopBtn {
  position: fixed; /*ボタンの配置場所を固定*/
  right: 20px;
  bottom: 50px !important;
}
#PageTopBtn a {
  display: block; /*配置の調整*/
  text-decoration: none; /*文字の下線を消す*/
  color: #fff; /*文字の色*/
  background: #333; /*ボタンの背景色*/
  text-align: center; /*文字を中央に配置*/
  border-radius: 50%; /*ボタンの角を少し丸くする*/
  outline: none; /*クリックしたときの黒い枠を消す*/
  line-height: 5.6;
  letter-spacing: 2.2px;
  font-size: 10px;
}
#PageTopBtn a:hover {
  text-decoration: none;
  background: #aeaeae; /*マウスオーバー時の背景色*/
}

/* パソコンで表示する場合のCSS */
@media (min-width: 768px) {
  #PageTopBtn {
    font-size: 13px; /*文字のサイズ*/
  }
  #PageTopBtn a {
    width: 56px; /*ボタンの幅*/
    height: 56px; /*ボタンの高さ*/
  }
}

/* スマホで表示する場合のCSS */
@media (max-width: 767px) {
  #PageTopBtn {
    font-size: 10px;
  }
  #PageTopBtn a {
    width: 56px;
    height: 56px;
    padding: 17px 0;
  }
}



/*

	スクロールのheader固定

*************************************************/


body {
  margin: 0;
}


.header-bar {
  width: 100%;
  height: 66px;
  background: #f9b19d;
  .search__box{
    display: none;
  }


  .header-bar__inner{
    padding: 0 40px;
  }

}

.scrolled {
  position: fixed;
  padding:0;
  top: 0;
  left: 0;
  z-index: 1;

  .megamenu {
    position: absolute;
    top: 66px;
  }



}


/*

	header

*************************************************/

.sub-title{
  @include fts(8.3, 9);
  line-height: 1;
  padding-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: #353535;
  letter-spacing: 1px;
  padding-top: 43px;
}


.logo__img {
  width: 45%;
  text-align: center;
  margin:0 auto;
  height: 78px;
  img {
    padding-bottom: 30px;
  }


}

.background-draw img {
  width: 300px;
}

.background-draw__left {
  position: absolute;
  left: 136px;
  top: 175px;
  //left: 136px;
  //top: 144px;
}

.background-daw__right {
  position: absolute;
  left: 842px;
  top: 183px;
  //left: 842px;
  //top: 151px;
}



.header-bar {

  &__logo {
    width: auto;
    display: flex;
    align-items: center;
      margin: 0 auto 0 0;
      padding: 23px 0 25px;
      height: 21px;
      color: #fff;
      font-size: 14px;
      letter-spacing: 0.5px;
  }

  .logo{
    &__img-h img{
      width: 26px;
    }
    &__title {
      padding:0 10px;
    }

  }

  .header-bar__nav__list {
    display: flex;
  }

  &__nav__item {
    padding: 10px 16px;
    a{
      display: block;
    }
  }

  &__nav__text {
    text-align: center;
    font-size: 11px;
    color: #fff;
  }

  &__nav__text--en {
    color: #fff;
    font-size: 15px;
    font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
  }


}

.header02{
  .logo__img img{
    width: 31%;
  }

}





/*

	side

*************************************************/


.side-menu-list li a {
  display: block;
  padding: 8px 0 8px 10px;
  font-size: 13px;


}

.side-menu-list li a:hover {
  background-color: #f5f5f5;
  text-decoration: none;

}



.side-menu-list {

  a.iscurrent {
    background-color: #f5f5f5;
  }

  @include fts(9, 20);
  width: 169px;
  &__title {
    border-bottom: solid 1px #dcdcdc;
    height: 36px;
    line-height: 7px;
    padding-left: 5px;
  }
  li {
    list-style: none;
    .japanese {
      @include fts(5, 5);
      padding-left: 13px;
    }
  }
  li a:before {
    content: ">";
    color: #dcdcdc;
    padding-right: 5px;
  }

  .side-menu-list__li {
    padding-bottom: 50px;
  }
  .arrow {
    color: $font_sub_color;
  }

  i.fa{
    color: #ff9999;
  }

}

.side-contain {

  .keywords {
    &__content {
      margin-bottom: 20px;

    }

  }

  .news-list {
    &__title {
      width: 222px;
      font-size: 13px;
      padding-left: 10px;
    }
    &__content{
      padding-bottom: 20px;
    }
  }
  .header-side{
    padding-bottom: 20px;
    justify-content: center;
    &__img {
      width: 25px;
    }
    &__txt {
      &--en{
        font-size: 17px;
        letter-spacing: 1px;
        padding: 2px 8px 0 15px;
        color: #333;
        font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
      }
      &--jp {
        padding-right:15px;
        padding-top: 6px;
        font-size: 11px;
        letter-spacing: 1px;
      }
    }
  }


  .recommend-list {
    dd + dd {
      padding-top: 18px;
    }

    &__thumb-img {
      padding-right: 18px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__title {
      padding-top: 3px;
      width: 185px;
      @include fts(7, 9);
      font-weight: bold;
    }

  }


  .items {
    &__content {
      @include fts(8, 8);
      padding-left: 10px;
      letter-spacing: 0.7px;

    }
    &__list {
      padding: 13px 0;
      .fa-angle-right {
        color: $border_color;
        @include fts(15, 15);
        padding-right: 10px;
      }
    }
  }

  .models-lists {
    padding-bottom: 50px;
    dd {
      padding-bottom: 20px;
    }
    dd + dd {
      border-top: solid $border_color 1px;
      padding-top: 20px;
    }
    &__text {
      padding-top: 7px;
      padding-left: 10px;
      .model-name:before {
        content: "@";
        color: $main_color;
      }
      .model-name {
        @include fts(8, 10);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        padding-bottom: 6px;
      }
      .model-info {
        @include fts(7, 7);
        color: $font_sub_glay_color;
      }
    }
  }
  .models-lists__prof-img {

    img {
      margin-top: 9px;
      height: 35px;
      width: 35px;
      object-fit: cover;
      @include border-radius(50%);
    }

  }

  .keywords{
    .tag-cloud-link {
      padding: 2px;
      display: inline-block;
      margin-bottom: 6px;
      color: #333;
      letter-spacing: 1px;
      font-size: 18px !important;
    }
    a:before {
      color:#f2695d;
    }
  }

  .keywords-category{
    .this-page__tags a ,.tag-cloud-link{
      padding: 8px;
      border-radius: 5px;
      display: inline-block;
      margin-bottom: 10px;
      background-color:  #f2695d;;
      color: #fff;;
      letter-spacing: 1px;
      font-size:12px !important;
    }
  }

}


.annie-ad-side{
  .annie{
    &-img {
      img {
        width: 238%;
        height: 298px;
        object-fit: cover;
        display: block;
      }
    }
    &-content {
      margin: 0 auto 40px 0;
      height: 200px;
      text-align: center;
      background-color: #fbcccc;
      padding: 10px 33px;

    }
    &-header-main {
      font-size: 24px;
      padding-bottom: 3px;
      color: #fff;
    }

    &-header-txt {
      font-size: 14px;
      line-height: 1.4;
      padding-bottom: 20px;
      color: #fff;
      letter-spacing: 3px;
    }


  }


}


.house-ad-side {
  .house {
    &-img {
      padding-bottom: 30px;
      img {
        width: 100%;
        object-fit: cover;
        display: block;
      }
    }
    &-content{
      margin: 0 auto 40px 0;
      height: 538px;
      text-align: center;
      background-color: #bee4e6;
    }

    &-header {
      width: 273px;
      margin: 0 auto;
      padding-bottom: 20px;
    }

    &-header-sub {
      font-size: 17px;
      letter-spacing: 1px;
      color: #87b2bd;
      padding: 30px 0 10px 0;
    }

  }

}

.business-ad-side {
  .business {
    &-img {
      width: 88px;
      padding-right: 10px;

    }
    &-content {
      background-color: #ffde8d;
      height: 128px;
      text-align: center;
      padding: 29px;

    }
    &-header-txt {
      font-size: 21px;
      color: #ee9b2d;
      font-weight: bold;
      padding-bottom: 21px;
      letter-spacing: 1px;
      line-height: 1.5;
    }
  }
}

/*

	footer

*************************************************/

.footer,.footer-sp {
  a {
    text-decoration: none;
    color: #fff;
  }
  a:hover{
    text-decoration: underline;
  }

  &__content {
    background-color: #bee4e6;
    color: #fff;
    padding: 50px;

    .footer__box + .footer__box{
      padding-left: 39px;
    }

    .footer__box{
        font-size: 14px;
        letter-spacing: 1px;
      &__title{
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 2px;
        padding-bottom: 10px;
      }

      &__lists{
        padding-bottom: 4px;
        li{
          padding-bottom:4px;
         }
        .footer__nimi-box {
          padding-right: 14px;
        }
      }

      .footer__logo {
        &__img {
          text-align: center;
          padding-bottom: 10px;
          img{
            width: 132px;
          }
        }
        &__txt{
          width: 342px;
          font-size: 11px;
        }
      }

      .footer__sns-icons img {
        width: 20px;
        padding: 0px 7px;
      }

    }
  }
}

.copyright {

  padding: 15px 0;
  @include fts(4, 4);
  width: 100%;
  text-align: center;
  color: $font_sub_glay_color;
  letter-spacing: 2px;

}

/*

	index.page

*************************************************/

.middle-contain {
  margin: 0 30px;

  .bg-thumb-img {
    margin-bottom: 30px;
  }

  .article-list {
    li {
      padding-bottom: 14px;
      width: 380px;
    }

    &__img {
      width: auto;
      height: auto;
      object-fit: cover;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

      }
    }
    &__text {
      word-wrap: break-word;

      .list-title {
        @include fts(12, 18);
        font-weight: bold;
        padding-bottom: 6px;
        letter-spacing: 3px;
      }


      .icons {
        .icons__tag {
          background-color: $main_color;
          margin-right: 10px;
          color: #fff;
          @include fts(3, 3);
          @include border-radius(2px);
          padding: 4px 7px;
        }
      }

    }
  }

  .more-page{
    display: block;
    margin: 0 auto;
    width: 250px;
    }
  }

.section{
  padding-bottom:50px;
}


.zigzag {
  position: relative;
  background: #bee4e6;
}
.zigzag::after {
  height: 20px;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
}
.zigzag::before {
  top: -20px;
  background: linear-gradient(45deg, #fff 10px, transparent 0), linear-gradient(315deg, #fff 10px, transparent 0);
  background-size: 20px 20px;
}
.zigzag::after {
  bottom: -20px;
  background: linear-gradient(135deg, #bee4e6 10px, transparent 0), linear-gradient(225deg, #bee4e6 10px, transparent 0);
  background-size: 20px 20px;
}

button.btn.btn-round-white{
    background : #FFFFFF;
    padding:10px 20px;
    font-size: 14px;
    box-shadow: 3px 3px #b2b2b2;
    background : rgba(255, 255, 255, 1);
    border-style : Solid;
    border-color : #10100F;
    border-color : rgba(16, 16, 15, 1);
    border-radius : 12px;
    -moz-border-radius : 12px;
    -webkit-border-radius : 12px;
}

.second-section {
  .middle-contain .article-list li {
    width:auto;
  }

  .middle-contain .article-list__text {
    word-wrap: break-word;
    width: 530px;
    padding-left: 20px;
  }
}

/*

	components

*************************************************/

.hatching-house{
  background-color: #bee4e6;
  height: 400px;
  padding-left:50px;
  padding-top: 35px;

  &__header{
    padding-bottom: 40px;
    &--jp {
      color: #87b2bd;
      font-size: 22px;
      letter-spacing: 3px;
      padding-bottom: 17px;
    }
    &--en {
      align-items: center;
    }
    &--txt {
      width: 710px;
    }
    &--icon {
      width: 80px;
      padding-right: 20px;
    }
  }

  &__pictures {
    li{
      margin-right:88px;
    }
    .hatching-house {
      &--img{
        height: 171px;
      }
      &--img img{
        width: 250px;
        height: 172px !important;
      }
      &--txt {
        background-color: #fff;
        padding:  10px 20px;
        font-size: 13px;
        letter-spacing: 2px;
      }

    }
  }


  &__btn {
    button {
     margin-top: 70px;
     padding-right:20px;
    }
    &--img {
      width: 88px;
      padding-top: 83px;
    }
  }
}



.annie {
  background-color: #fbcccc;
  height: 297px;
  &-img{
    width: 42%;
    img {
      width: 139%;
      height: 298px;
      object-fit: cover;
      display: block;
    }
  }
  .annie-content {
    padding-left: 267px;
    padding-top: 60px;
    text-align: center;
  }

  &-header-main {
    font-size: 36px;
    color: #fff;
  }

  &-header-sub {
    letter-spacing: 3px;
  }

  &-header-txt {
    font-size: 14px;
    padding-bottom: 20px;
    color: #fff;
    letter-spacing: 3px;
  }


}



.blogger {
  background-color: #ffe198;
  height: 520px;


  &__header{
    text-align: center;
    font-size: 26px;
    color: #fff;
    padding: 40px 0;
    font-weight: bold;
    letter-spacing: 3px;
  }



  &__header--img{
    position: absolute;
    left: 166px;
    top: 3208px;
    width: 93px;
  }


  &__box{
    text-align: center;
    width: 160px;
    padding-top: 30px;

    img{
      width: 60px;
    }
  }

  .cross-img {
    width: 27px;
    vertical-align: middle;
    padding-top: 48px;
  }

  &__container {
    width: 985px;
    margin: 0 auto;
  }

  &__box__name {
    font-size: 10px;
    letter-spacing: 1px;
    color: #b3a37c;
  }

}


.business{
  background-color: #fcb751;
  height: 92px;
  &__container{
    width: 850px;
    margin: 0 auto;
    padding-top: 49px;
    vertical-align: middle;
  }
  &-txt {
    font-size: 22px;
    color: #cc6e45;
    letter-spacing: 1px;
    font-weight: bold;
  }
}

.our-service{
  margin-top: 80px;
  background-color: #ebd4a4;;
  height: 283px;
  padding-left:50px;
  padding-top: 35px;

  &__header{
    padding-bottom: 15px;
    font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;

    &--en {
      @include fts(33, 38);
      color: #fff;

    }
    &--jp {
      color: #808080;
      padding-left: 22px;
      @include fts(12, 12);
      line-height: 3.5;
      padding-bottom: 17px;
    }

    &--txt {
      width: 710px;
    }

  }

  &__pictures {
    li{
      margin-right: 32px;
    }
    .our-service {
      &--img{
        height: 137px;
      }
      &--img img{
        width: 200px;
        height: 137px !important;
        object-fit: cover;
      }
      &--txt {
        background-color: #fff;
        padding:  10px 20px;
        @include fts(10, 10);
        letter-spacing: 2px;
        text-align: center;
        width: 160px;
      }

    }
  }

  .btn-round-white{
    margin-top: 10px;
    margin-left: 40px;

  }

}


.circle img{
  border-radius: 50%;
}



.sns-container{
  .sns-icons{
    width: 465px;
    margin: 0 auto;
  }

  .sns-icons__img {
    width: 131px;
    padding: 12px;
  }

}





/*

	single.page

*************************************************/


.single-page {


  &__container {
    width: 1200px;
  }

  &__head-title {
    font-weight: bold;
    @include fts(18, 25);
    letter-spacing: 1px;
    line-height: 31px;
    margin-bottom: 20px;
  }
  &__tags{
    a{
      border: solid 1px #f9b19d;
      padding: 6px;
      border-radius: 5px;
    }
    @include fts(10, 10);
    color: $font_sub_glay_color;
    padding-bottom: 15px;
    letter-spacing: 0.5px;


  }

  &__sns-icons{
    width: auto;
    .sns-icons__img{
      width:100px;
      padding: 10px 10px 0 0;
    }

  }

  &__post-down__sns-icons {
    padding-bottom: 20px;
    img {
      width: 312px;
    }
  }
  &__detail{
    align-items: center;
  }

  &__author__img img {
    width: 45px;
    border: solid 1px #000000;
  }
  &__post-info {
    align-items: center;
  }

  &__dates {
    padding-right: 10px;
    color: #9c9c9c;

  }



  &__entry-content {
    p {
      @include fts(10, 10);
      line-height: 22px;
      word-wrap: break-word;
      padding-bottom: 25px;
    }
    .headline-second {
      @include fts(13.5, 13.5);
      font-weight: bold;
      border-bottom: solid 3px $main_color;
      padding: 10px 0;
      margin-bottom: 20px;
      margin-top: 20px;
      line-height: 1.3;
    }
    .headline-third {
      @include fts(12, 12);
      line-height: 7px;
      font-weight: bold;
      padding: 10px 0 10px 20px;
      margin-bottom: 20px;
      margin-top: 20px;
      border-left: solid 6px $main_color;
    }
    img {
      padding: 30px 0;
      display: block;
      max-width: 644px;
      height: auto;
    }
    .detail-box01 {
      border: solid 1px $border_color;
      @include fts(10, 10);
      padding: 20px;
      margin: 30px 0;
      &__title {
        border-bottom: solid 1px $border_color;
        margin-bottom: 20px;
        @include fts(10, 10);
        padding-bottom: 15px;
        letter-spacing: 2.2px;
        font-weight: bold;
      }
      &__contain p {
        letter-spacing: 1.2px;
        @include fts(8, 8);
        color: $font_sub_glay_color;
        padding-bottom: 11px;
        line-height: 1.5;
        i.fa{
          @include fts(9, 9);
          padding-right: 10px;
        }
        a{
          @include fts(8, 8);
          color: $font_sub_glay_color;
        }

      }
    }
    .detail-box02 {
      border: solid 1px $border_color;
      margin: 30px 0;
      a {
        color: $font_color;
      }
      &__img {
        width: 21%;
        padding-right: 15px;
      }
      &__txt {
        padding-top: 10px;
        width: 492px;
      p{
        color: $font_sub_color;
        @include fts(7, 12);
        padding-bottom: 0;
      }
      }
      &__title {
        @include fts(9, 9);
        color: $font_color;
        padding: 7px 0;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 20px;

      }
      img {
        padding: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .detail-box03 {
      a {
        color: #f5f2f2;
      }

      @extend .detail-box02;
      &__img {
        width: 40%;
      }
      &__txt {
        width: 45%;
        padding: 35px 48px 0 48px;
      }
      &__title {
        @include fts(10,10);
        font-weight: bold;
        letter-spacing: 1px;
        padding-bottom: 20px;
        line-height: 1.4;
      }
      &__price {
        @extend .detail-box03__title;
        @include fts(8, 8);
        padding-bottom: 15px;
      }
      &__brand {
        @include fts(8, 8);
        padding-bottom: 12px;
        letter-spacing: 0.8px;
        a{
          color: $main_color;
        }
      }
      &__read {
        @include fts(7, 7);
        color: $font_sub_glay_color;
        line-height: 16px;
        letter-spacing: 0.5px;
        padding: 5px 0 20px 0;
      }
      &__shipping {
        @include fts(8, 8);
        padding-bottom: 15px;
      }
      &__similar-products {
        @include fts(8, 8);
        color: $font_sub_glay_color;
        margin-bottom: 17px;
        a{
          color: #9c9c9c;
        }
      }
      &__btn-subtxt {
        font-size: 0.7rem;
        line-height: 1;
        padding-top: 14px;
        color: $font_sub_glay_color;
      }

      i.fa{
        padding-right: 6px;
      }

    }

  }

  .sourcelink {
    @include fts(7,7);
    color: #b5b5b5;
    padding-bottom: 10px;
    a{
      color: #b5b5b5;
    }
  }

  .affiliate-ad {
    margin: 0 auto;
    width: 336px;
    padding-bottom: 30px;
  }

}


.paging-nav {
  width: auto;
  background-color: #fbcccc;

  &__container {
    padding: 20px;
  }

  &__head {
    padding-bottom: 10px;
    line-height: 2.3;
    &__img {
      width: 39px;
    }

    &__txt {
      padding: 0 10px;
    }
  }

  &__body {
    &__img img {
      width: 120px;
    }
    &__read {
      width: 161px;
      font-size: 11px;
      padding: 0 10px;
    }
  }

  &__next {
    .paging-nav__head {
      justify-content: flex-end;
    }
    .paging-nav__body__read{
    text-align: right;
    }
  }

}


/*

	components

*************************************************/

.articles__container__bottom {

  .header-side{
    @extend .components-title;
  }


  .news-list {
    margin-right:50px;

    &__thumb-img img {
      width: 125px;
      height: auto;
      object-fit: contain;
    }
    &__title {
      width: 172px;
      font-size: 13px;
      padding-left: 15px;
    }

    &__content {
      padding-bottom: 20px;
    }

  }

  .category-popular {
    width: 654px;

    &__content {
      width: 200px;
      padding-bottom: 20px;
    }

    &__title {
      font-size: 13px;
    }

    &__thumb-img img {
      width: 200px;
      height: 140px;
      object-fit: contain;
    }


  }




}

.more-search-article {

  &__btn{
    padding: 10px;
    width: 117px;
    font-size: 13px;
    border: 4px solid #fff0ed;
    margin-bottom: 12px;
    //margin-right: 14px;
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
    transition: .2s;
  }
  &__btn:hover{
    background: #fff0ed;
    text-decoration: none;
  }
  .fa-angle-right {
    color: #dcdcdc;
    padding-right: 3px;
    @include fts(10, 10);

  }f

  .more-search-article__lists::before{
    content:"";
    display: block;
    width:23%;
    order:1;
  }
  .more-search-article__lists::after{
    content:"";
    display: block;
    width:23%;
  }
}

.instagram-models-lists {
  border-top: solid 1px $border_color;
  border-bottom: solid 1px $border_color;
  margin-top: 50px;
  padding: 30px 0;
  position: relative;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &__header {
    font-size: 14px;
    color: $font_sub_glay_color;
    padding-bottom: 25px;
  }
  &__models {
    text-align: center;
    display: inline-block;

    img {
      @include border-radius(50%);
      height: 80%;
      width: 80%;
      padding: 0;

    }
  }
}

.article-sns-btns {
  padding-top: 10px;
  padding-bottom: 20px;
}

.article-sns-btns img {
  width: 90px;
  padding-right: 5px;
}





.related-article {
  &__content {
    padding-top: 10px;
  }
  .related-article__container::after{
    content:"";
    display: block;
    width:30%;
  }

  &__img {
    img {
      width: 200px;
      height: 150px;
      object-fit: cover;
    }
  }
  &__text {
    @include fts(8, 8);
    width: 200PX;
    padding: 10px 0;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 17px;
  }
}



.news-articles {
  &__content {
    padding-top: 10px;
    width:23%;
  }

  &__container::before{
    content:"";
    display: block;
    width:23%;
    order:1;
  }
  &__container::after{
    content:"";
    display: block;
    width:23%;
  }

  &__img {
    img {
      width: 226px;
      height: 150px;
      object-fit: cover;
    }
  }
  &__text {
    @include fts(8, 8);
    padding: 10px 0;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 17px;
  }
}

.featured-articles {
  &__content {
    padding-top: 10px;
    padding-right: 14px;
  }
  &__img {
    img {
      width: 200px;
      height: 150px;
      object-fit: cover;
    }
  }
  &__text {
    @include fts(8, 8);
    width: 200PX;
    padding: 10px 0;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 17px;
  }
}


.sns-area {
  border: solid 1px $font_sub_color;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;


  .sns-area__img {
    width: 50%;
  }

  .sns-area__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__info {
    text-align: center;
    width: 50%;

  }
  &__title {
    padding: 9px 0;
    @include fts(7, 10);
    width: 152px;
    margin: 0 auto;
    letter-spacing: 2px;
  }
  .sns-icons {
    width: 197px;
    text-align: center;
    display: block;
    margin: 0 auto;
    img {
      width: 15%;
    }
  }
}



.shopping-banner {
  margin-bottom: 50px;
}

.featured-box {

  &__header {
    @include fts(9, 9);
    padding: 10px 0;
    font-weight: bold;
    line-height: 1.3;
  }
  .featured-img {
    img {
      width: 100%;
      height: 178px;
      object-fit: cover;
    }
  }
}

/*

	category-page

*************************************************/



/*

	search page

*************************************************/


.search-page {
  .middle-contain .article-list__img {
    width: 250px;
    height: 155px;
    object-fit: cover;
  }
  .middle-contain .article-list li {
    width: auto;
    padding-bottom: 37px;
  }
  .article-list__txt {
    width: 549px;
    padding-left: 20px;
    font-size: 12px;
  }
}


/*

	featured page

*************************************************/

.featured-page {
  .related-article__content {
    width: 23%;
  }
  .featured {
    &-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-img {
      padding: 10px 0;
      width: 426px;
    }
    &-box__header {
      @include fts(15, 15);
      letter-spacing: 2px;
      line-height: 1.3;
    }

    &-text {
      text-align: center;
      &__header {
        font-size: 22px;
        letter-spacing: 1px;
        padding-bottom: 30px;
      }
      &__read {
        width: 76%;
        @include fts(7, 7);
        color: $font_sub_glay_color;
        margin: 0 auto;
        line-height: 1.4;
      }
    }
  }
}

/*

	pages

*************************************************/

.pages {
   h1.pages__header{
     @include fts(10, 10);
     color: #8c8c8c;
     text-align: center;

   }
   h2.pages__header{
     padding-bottom: 11px;
     color: #8c8c8c;
     @include fts(8, 8);

  }

  .outer__inner{
    width: 1016px;
    margin: 0 auto;
  }


  &__header {
    @include fts(10, 10);
    font-weight: bold;
    letter-spacing: 0.8px;
  }
  &__read {
    padding-top: 65px;
    @include fts(8, 8);
    letter-spacing: 1px;
    line-height: 1.4;
    color: #b1b1b1;
    text-align: left;
    padding-bottom: 40px;

    p{
      padding-bottom: 15px;
      color: #b1b1b1;
    }
    ul{
      margin-left: 14px;
      font-size: 11px;
      margin-bottom: 17px;
      color: #b1b1b1;
    }
  }

  &__date-info {
    width: 300px;
    margin-left: auto;
    text-align: right;
    padding-top: 20px;
    @include fts(8, 8);
    letter-spacing: 1px;
    color: #8c8c8c;
    p{
      padding-bottom:10px;
    }
  }

  .related-article__content {
    width: 23%;
  }

  .table-info {
    font-size: 15px;
    letter-spacing: 1px;
    color: #b1b1b1;


    table {
      width: 1016px;
      border: solid #c3c3c3 0.5px;
      margin: 0 auto;
      border-collapse: collapse;
      border-spacing: 0;
      td {
        width: 5px;
        padding: 20px 1px 20px 19px;
      }
      tr {
        border: solid #c3c3c3 0.5px;
      }
    }

  }

}

/*

	about page

*************************************************/

.about-page {

  .pages__container {
    margin-top: 70px;
  }

  .mission {
    .yuka-sign__img {
      width: 105px;
      margin-left: auto;
      padding-right: 46px;
      padding-bottom: 13px;
      img {
        width: 100%;
      }
    }
   &__icon__img img{
     width: 85px;
     position: absolute;
     top: 285px;
     right: 308px;

   }


  }


}

/*

	security page

*************************************************/

.security-policy {
  border: solid 1px #d2d1d1;
  padding: 90px;
  text-align: center;

  p.pages__read {
    line-height: 1.6;
    letter-spacing: 1.5px;
    padding-bottom: 0;
  }
}

/*

	404page

*************************************************/

.error-page{
  .notfind__header {
    padding-bottom: 35px;

    &__img {
      width: 300px;
      margin: 0 auto;
      padding-bottom: 10px;
    }
    &__txt {
      color: #bdbdbd;
      @include fts(9, 9);
      letter-spacing: 1.1px;
      text-align: center;
    }
  }

  .notfind__body__img {
    width: 192px;
    margin: 0 auto;
  }

  .notfind__btn {
    margin: 30px auto;
    width: 150px;
    padding: 10px;
    background-color: $main_color;
    color: #fff;
    font-size: 13px;
    letter-spacing: 2px;
    border-radius: 5px;

    a{
      color: #fff;
      text-underline: none;
    }
  }

}

/*

	components-parts.php

*************************************************/


.tag-cloud-link{
  margin-right: 10px;
}



.wrote-models-lists{
  padding: 30px 0;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $border_color;
  border-bottom: 1px solid $border_color;

  &__header {
    @include fts(8,8);
    color: $font_sub_glay_color;
    letter-spacing: 1px;
    padding-right: 10px;
  }
&__img {
  padding-right: 17px;
  img {
    margin-top: 9px;
    height: 45px;
    width: 45px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}

  .author-profile-sns{
    line-height: 5px;
    height: 11px;
    vertical-align: middle;
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
    background-color: #ffede9;
    color: #ffede9;
    letter-spacing: 1px;
    font-size: 15px;
    a {
      color: #ffa5a5;
      font-size: 10px;
      padding: 10px;
    }
  }

  &__name {
    padding-right: 15px;
    font-size: 13px;
    letter-spacing: 2px;
    color: #9c9c9c;
  }
}


.instagram-widget{
  padding-bottom:50px;
}

