/*

	common

*************************************************/

body{
  line-height: 1.75;
  color: #545b63;
}

a {
  text-decoration: none;
  color: $font-color_head;
}

a:hover{
  text-decoration: none;
  color: #666;
}

a:hover img { opacity: 0.5 ;
}

::selection {
  background: #ffe0e0;
}

//Firefox
::-moz-selection {
  background: #ffe0e0;
}

iframe {
    margin-bottom: 20px;
}

/*

	layout
*************************************************/

.outer {
  &__header {
    margin: 20px auto 0 auto;
  }
}

body {
  margin: 0;
}

.outer__inner {
  padding-top: 50px;
}

.pages {
  .outer__inner {
    margin: 0 auto;
  }
}
.header-sp {
  display: none;
}
.footer-sp {
  display: none;
}

/*

	header

*************************************************/

.search__box {
  #searchsubmit {
    display: none;
  }
  form#searchform {
    margin: 10px;
    #s {
      input {
        width: 190px !important;
        vertical-align: top !important;
        margin: 0 !important;
        height: 100% !important;
        box-sizing: border-box !important;
        background-color: transparent !important;
      }
      border: solid 1px #ff846a;
      padding: 11px 24px 10px 24px;
      border-radius: 9px;
      font-size: 13px;
      background-repeat: no-repeat;
      background-image: url(./images/search-icon-pk.svg);
      background-position: 11px center;
      background-size: 21px;
      padding-left: 44px;

    }
  }
}

.breadcrumb {
  margin-bottom: 0 !important;
  .breadcrumbs {
    padding-left: 24px !important;
    font-size: 10px;
    color: #a5a5a5;
    letter-spacing: 1px;
    .fa-home {
      font-size: 16px;
    }
  }
}

.sns-icons {
  width: 300px;
  &__icon {
    width: 43px;
    padding-right: 10px;
  }
}
.newMark {
  position: absolute;
  background: $pink_02;
  z-index: 99;
  color: #fff;
  font-family: $font_family_en;
}
.category-icon{
  padding: 3px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
  background-color: #f2695d;
  color: #fff;
  letter-spacing: 1px;
  font-size: 12px !important;
  a{
    color: #fff;
  }
}

/*

	トップページへ戻る

*************************************************/

/* パソコン・スマホ共通のCSS */
#PageTopBtn {
  position: fixed; /*ボタンの配置場所を固定*/
  right: 20px;
  bottom: 50px !important;
  z-index: 100;
}
#PageTopBtn a {
  display: block; /*配置の調整*/
  text-decoration: none; /*文字の下線を消す*/
  color: #fff; /*文字の色*/
  background: #333; /*ボタンの背景色*/
  text-align: center; /*文字を中央に配置*/
  border-radius: 50%; /*ボタンの角を少し丸くする*/
  outline: none; /*クリックしたときの黒い枠を消す*/
  line-height: 5.6;
  letter-spacing: 2.2px;
  font-size: 10px;
}
#PageTopBtn a:hover {
  text-decoration: none;
  background: #aeaeae; /*マウスオーバー時の背景色*/
}

/* パソコンで表示する場合のCSS */
@media (min-width: 768px) {
  #PageTopBtn {
    font-size: 13px; /*文字のサイズ*/
  }
  #PageTopBtn a {
    width: 56px; /*ボタンの幅*/
    height: 56px; /*ボタンの高さ*/
  }
}

/* スマホで表示する場合のCSS */
@media (max-width: 767px) {
  #PageTopBtn {
    font-size: 10px;
  }
  #PageTopBtn a {
    width: 56px;
    height: 56px;
    padding: 17px 0;
  }
}

/*
	スクロールのheader固定
*************************************************/

.header-bar {
  width: 100%;
  height: 70px;
  background: #f9b19d;
  .search__box{
    display: none;
  }

  .header-bar__inner{
    padding: 0 40px;
  }

}

.scrolled {
  position: fixed;
  padding:0;
  top: 0;
  left: 0;
  z-index: 1000;
}


.sub-title{
  @include fts(8.3, 9);
  line-height: 1;
  padding-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: #737373;
  letter-spacing: 1px;
  padding-top: 43px;
}

.logo__img {
  text-align: center;
  margin:0 auto;
  height: 78px;
  img {
    padding-bottom: 30px;
  }
}

.header__pic{
    width: auto;
    margin: 0 auto;
}
.header__pic-logo{
  width: 36%;
}
.background-draw{
  display: flex;
  margin-top: auto;
  img {
    width: 100%;
  }
  &__left{
    margin-bottom: -3px;
  }
}



.header-bar {
  &__logo {
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.5px;
    height: 71px;
    display: table;
  }

  .logo{
    &__img-h {
      img {
        width: 26px;
      }
      display: table-cell;
      vertical-align: middle;
    }
    &__title {
      padding:0 10px;
      display: table-cell;
      vertical-align: middle;
      a{
        color: #fff;
      }
    }

  }

  .header-bar__nav__list {
    display: flex;
  }

  &__nav__item {
    padding: 10px 16px;
    a{
      display: block;
    }
  }

  &__nav__text {
    text-align: center;
    font-size: 11px;
    color: #fff;
  }

  &__nav__text--en {
    color: #fff;
    font-size: 15px;
    font-family: $font_family_en;
  }

  &__nav__text--jp {
    color: #fff !important;
  }

}

.header02{
  .logo__img img{
    width: 13%;
  }

}

.eyecatch{
position: relative;
}
.eyechatchlabel{
  position: absolute;
  color: #fff;
  top: 0px;
  padding: 5px 10px;
}
//カテゴリー別にラベルの色を変える
.eyechatchlabel.cook{
  background-color: $pink_01;
}
.eyechatchlabel.sanfrancisco{
  background-color: $yellow_01;
}
.eyechatchlabel.ucberkeley{
  background-color: $blue_01;
}



/*

	side

*************************************************/

.side-amazon-ad {
  width: 100%;
  padding-bottom: 40px;
}


.side-fixed-content{
  position: fixed;
  top: 15%;
  width: 313px;
}

.side-fixed-content02{
  position: fixed;
  top: 48%;
  width: 313px;
}

.side-contain {
  .keywords {
    &__content {
      margin-bottom: 20px;
      width: 300px;
      margin: 0 auto;
    }
  }



  .recommend-list {
    dd + dd {
      padding-top: 18px;
    }
    &__thumb-img {
      padding-right: 18px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__title {
      padding-top: 3px;
      width: 185px;
      @include fts(7, 9);
      font-weight: bold;
    }
  }
  .items {
    &__content {
      @include fts(8, 8);
      padding-left: 10px;
      letter-spacing: 0.7px;
    }
    &__list {
      padding: 13px 0;
      .fa-angle-right {
        color: $border_color;
        @include fts(15, 15);
        padding-right: 10px;
      }
    }
  }

  .keywords{
    padding-bottom: 50px;
    .tag-cloud-link {
      display: inline-block;
      margin-bottom: 10px;
      color: #6d6d6d;
      letter-spacing: 0.2px;
      font-size: 15px !important;
      background-color: #ffede9;
      padding: 5px 10px;
      border-radius: 5px;
      margin: 6px 7px;

    }
    a:before {
      color:#f2695d;
    }
  }


  .keywords-category{
    .this-page__tags a ,.tag-cloud-link{
      padding: 8px;
      border-radius: 5px;
      display: inline-block;
      margin-bottom: 10px;
      background-color:  #f2695d;;
      color: #fff;;
      letter-spacing: 1px;
      font-size:12px !important;
    }
  }
}


.annie-ad-side{
  .annie{
    &-img {
      img {
        width: 238%;
        height: 298px;
        object-fit: cover;
        display: block;
      }
    }
    &-content {
      margin: 0 auto 40px 0;
      height: 250px;
      text-align: center;
      background-color: $pink_01;
      padding: 25px 24px

    }
    &-header-main {
      font-size: 24px;
      padding-bottom: 3px;
      color: #fff;
    }

    &-header-txt {
      font-size: 14px;
      line-height: 1.4;
      padding-bottom: 20px;
      color: #fff;
      letter-spacing: 3px;
    }
  }
}

.house-ad-side {
  .house {
    &-img {
      padding-bottom: 30px;
      img {
        width: 100%;
        object-fit: cover;
        display: block;
      }
    }
    &-content{
      margin: 0 auto 40px 0;
      height: 538px;
      text-align: center;
      background-color: #bee4e6;
    }
    &-header {
      width: 273px;
      margin: 0 auto;
      padding-bottom: 20px;
    }
    &-header-sub {
      font-size: 17px;
      letter-spacing: 1px;
      color: #87b2bd;
      padding: 30px 0 10px 0;
    }
  }
}

.business-ad-side {
  .business {
    &-img {
      width: 85px;
      padding-right: 10px;
    }
    &-content {
      background-color: #ffde8d;
      height: 175px;
      text-align: center;
      padding: 29px;
      margin-bottom: 35px;
    }
    &-header-txt {
      font-size: 19px;
      color: #ee9b2d;
      font-weight: bold;
      padding-bottom: 21px;
      letter-spacing: 1px;
      line-height: 1.5;
    }
    button.btn.btn-round-white{
      margin-top: 17px;
    }
  }
}

/*

	footer

*************************************************/

.footer,.footer-sp {
  a {
    text-decoration: none;
    color: #57bac5;
  }
  a:hover{
    text-decoration: underline;
  }
  &__content {
    background-color: #bee4e6;
    color: #57bac5;
    padding: 50px;
    .footer__box + .footer__box{
      padding-left: 39px;
    }
    .page__links{
      padding-top: 20px;
    }
    .footer__box{
        font-size: 14px;
        letter-spacing: 1px;
      &__title{
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 2px;
        padding-bottom: 10px;
      }
      &__lists{
        padding-bottom: 4px;
        li{
          padding-bottom:4px;
         }
        .footer__nimi-box {
          padding-right: 14px;
        }
      }
      .footer__logo {
        &__img {
          text-align: center;
          padding-bottom: 23px;
          img{
            width: 120px;
          }
        }
        &__txt{
          width: 342px;
          font-size: 11px;
          padding-bottom: 28px;
        }
      }
      .footer__sns-icons img {
        width: 40px;
        padding: 0px 7px;
      }
    }
  }
}

.copyright {
  padding: 15px 0;
  @include fts(4, 4);
  width: 100%;
  text-align: center;
  color: $font_sub_glay_color;
  letter-spacing: 2px;
}

/*

	components
*************************************************/
.keywords {
  a:before {
    content: "#";
    padding-right: 3px;
    color: #f2695d;
  }
}

.components-title {
  @include fts(10, 10);
  padding: 20px 0;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 0.9px;
  color: #737373;
  background-color: #ffede9;
  width: 100%;
}

.zigzag::after {
  height: 20px;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
}
.zigzag::before {
  top: -20px;
  background: linear-gradient(45deg, #fff 10px, transparent 0), linear-gradient(315deg, #fff 10px, transparent 0);
  background-size: 20px 20px;
}
.zigzag-blue {
  position: relative;
  background: #bee4e6;
}
.zigzag-blue::after {
  bottom: -20px;
  background: linear-gradient(135deg, #bee4e6 10px, transparent 0), linear-gradient(225deg, #bee4e6 10px, transparent 0);
  background-size: 20px 20px;
}
.zigzag-pink {
  position: relative;
  background: $pink_01;
}
.zigzag-pink::after {
  bottom: -20px;
  background: linear-gradient(135deg, $pink_01 10px, transparent 0), linear-gradient(225deg, $pink_01 10px, transparent 0);
  background-size: 20px 20px;
}

.circle img{
  border-radius: 50%;
}

.btn-round-white{
  margin-top: 10px;
  margin-left: 40px;
}

/*

	index.page

*************************************************/

.affiliate-ad-one {
    width: 336px;
    margin: 0 auto 30px auto;
}

.section{
  padding-bottom:50px;
}


.second-section {
  .middle-contain .article-list li {
    width:auto;
  }
  .middle-contain .article-list__text {
    word-wrap: break-word;
    width: 500px;
    padding-left: 20px;
  }
}

.hatching-house{
  background-color: #bee4e6;
  height: 460px;
  padding-left:50px;
  padding-top: 35px;
  &__header{
    padding-bottom: 40px;
    &--jp {
      color: #87b2bd;
      font-size: 22px;
      letter-spacing: 3px;
      padding-bottom: 17px;
    }
    &--en {
      align-items: center;
    }
    &--txt {
      width: 710px;
    }
    &--icon {
      width: 80px;
      padding-right: 20px;
    }
  }
  &__pictures {
    li{
      margin-right:88px;
    }
    .hatching-house {
      &--img{
        height: 171px;
      }
      &--img img{
        width: 250px;
        height: 172px !important;
      }
      &--txt {
        background-color: #fff;
        padding:  10px 20px;
        font-size: 13px;
        letter-spacing: 2px;
      }
    }
  }
  &__btn {
    button {
     margin-top: 70px;
     padding-right:20px;
    }
    &--img {
      width: 88px;
      padding-top: 83px;
    }
  }
}
.annie {
  background-color: $pink_01;
  height: 297px;
  &-img{
    width: 42%;
    img {
      width: 139%;
      height: 298px;
      object-fit: cover;
      display: block;
    }
  }
  .annie-content {
    padding-left: 267px;
    padding-top: 60px;
    text-align: center;
  }
  &-header-main {
    font-size: 36px;
    color: #fff;
  }
  &-header-sub {
    letter-spacing: 3px;
    padding-bottom: 10px;
  }
  &-header-txt {
    font-size: 14px;
    padding-bottom: 20px;
    color: #fff;
    letter-spacing: 3px;
  }
}

.blogger {
  background-color: #ffe198;
  height: 580px;
  &__header{
    text-align: center;
    font-size: 26px;
    color: #fff;
    padding: 40px 0;
    font-weight: bold;
    letter-spacing: 3px;
  }
  &__header--img{
    width: 93px;
    margin-right: 30px;
  }
  &__box{
    text-align: center;
    width: 160px;
    padding-top: 30px;
    img{
      width: 60px;
    }
  }
  .cross-img {
    width: 27px;
    vertical-align: middle;
    padding-top: 48px;
  }
  &__container {
    width: 985px;
    margin: 0 auto;
  }
  &__box__name {
    font-size: 10px;
    letter-spacing: 1px;
    color: #b3a37c;
  }
}

.business{
  background-color: #fcb751;
  height: 92px;
  position: relative;
  &__container{
    width: 850px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
  &-txt {
    font-size: 22px;
    color: #cc6e45;
    letter-spacing: 1px;
    font-weight: bold;
  }
}

.our-service{
  background-color: $yellow_01;
  height: 360px;
  padding-left:50px;
  padding-top: 35px;
  &__header{
    padding-bottom: 15px;
    &--en {
      @include fts(33, 38);
      color: #fff;
      font-family: $font_family_en;
    }
    &--jp {
      color: $font-color_head;
      padding-left: 22px;
      @include fts(12, 12);
      line-height: 3.5;
      padding-bottom: 17px;
      font-family: $font_family_jp;

    }
    &--txt {
      width: 710px;
    }
  }
  &__pictures {
    li{
      margin-right: 32px;
    }
    .our-service {
      &--img{
        height: 137px;
      }
      &--img img{
        width: 200px;
        height: 137px !important;
        object-fit: cover;
      }
      &--txt {
        background-color: #fff;
        padding:  10px 20px;
        @include fts(10, 10);
        letter-spacing: 2px;
        text-align: center;
      }
    }
  }
}

/*

	single.page

*************************************************/
.single-page {
  &__container {
    width: 1200px;
  }
  &__views {
    line-height: 1.8;
    padding-right: 20px;
    font-weight: bold;
    i{
      color: $pink_02;
    }
  }
  &__tags {
    /* line-height: 1; */
    border: solid $pink_02 1px;
    border-radius: 4px;
    padding: 0 10px;
   }
  &__sns-icons{
    width: auto;
    .sns-icons__img{
      width:100px;
      padding: 10px 10px 0 0;
    }
  }
  &__post-down__sns-icons {
    padding-bottom: 50px;
    width: 650px;
    margin: 0 auto;
    img {
      width: 312px;
    }
  }
  &__detail{
    align-items: center;
  }
  &__author__img img {
    width: 45px;
    border: solid 1px #000000;
  }
  &__post-info {
    align-items: center;
  }
  &__dates {
    padding-right: 10px;
    color: #9c9c9c;
  }
  &__head-title {
    @include mainTitle(18,1.4);
  }
  &__entry-content {
    @include fts(11, 11);
    word-wrap: break-word;
    padding-bottom: 25px;
    margin-bottom: 20px;
    display: block;
    line-height: 1.6em;
    color: $font_color_head;
    p {
      @include fts(11, 11);
      word-wrap: break-word;
      padding-bottom: 25px;
      margin-bottom: 20px;
      display: block;
      line-height: 1.6em;
      color: $font_color_head;
    }
    .headline-second {
      @include mainTitle(17,1);
      border-bottom: solid 3px $yellow_02;
      padding: 20px 0;
    }
    .headline-third {
      @include mainTitle(13,0.5);
      background-color: $yellow_02;
      border-radius: 5px;
      padding: 20px 20px;
    }
    .headline-fourth {
      @include mainTitle(12,1);
      padding: 10px 0 10px 20px;
      border-left: solid 6px $yellow_02;
    }
    img {
      padding: 30px 0;
      display: block;
      max-width: 750px;
      height: 500px;
      object-fit: cover;
    }

    .detail-box01 {
      border: solid 1px $border_color;
      @include fts(10, 10);
      padding: 20px;
      margin: 30px 0;
      &__title {
       @include listsTitle(11,1.4);
        margin-bottom: 20px;
      }
      &__contain p {
        letter-spacing: 1.2px;
        @include fts(8, 8);
        color: $font_sub_glay_color;
        padding-bottom: 11px;
        line-height: 1.5;
        i{
          @include fts(9, 9);
          padding-right: 10px;
        }
        a{
          @include fts(8, 8);
          color: $font_sub_glay_color;
        }

      }
    }
    .detail-box02 {
      border: solid 1px $border_color;
      margin: 30px 0;
      a {
        color: $font_color;
      }
      &__img {
        width: 21%;
        padding-right: 15px;
      }
      &__txt {
        padding-top: 10px;
        width: 492px;
      p{
        color: $font_sub_color;
        @include fts(7, 12);
        padding-bottom: 0;
      }
      }
      &__title {
        @include listsTitle(11,1.4);
        padding: 7px 0;

      }
      img {
        padding: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .detail-box03 {
      a {
        color: #f5f2f2;
      }
      @extend .detail-box02;
      &__img {
        width: 40%;
      }
      &__txt {
        width: 45%;
        padding: 35px 48px 0 48px;
      }
      &__title {
        @include listsTitle(10,1.4);
        padding-bottom: 20px;
      }
      &__price {
        @extend .detail-box03__title;
        @include fts(8, 8);
        padding-bottom: 15px;
      }
      &__brand {
        @include fts(8, 8);
        padding-bottom: 12px;
        letter-spacing: 0.8px;
        a{
          color: $main_color;
        }
      }
      &__read {
        @include fts(7, 7);
        color: $font_sub_glay_color;
        line-height: 16px;
        letter-spacing: 0.5px;
        padding: 5px 0 20px 0;
      }
      &__shipping {
        @include fts(8, 8);
        padding-bottom: 15px;
      }
      &__similar-products {
        @include fts(8, 8);
        color: $font_sub_glay_color;
        margin-bottom: 17px;
        a{
          color: #9c9c9c;
        }
      }
      &__btn-subtxt {
        font-size: 0.7rem;
        line-height: 1;
        padding-top: 14px;
        color: $font_sub_glay_color;
      }
      i.fa{
        padding-right: 6px;
      }
    }

    .detail-author-box{
      @extend .detail-box02;
      &__img img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin-right: 25px;
      }
      &__txt {
        width: 500px;
        font-size: 16px;
        line-height: 1.4;
      }
      &__title {
        @include listsTitle(10,1.4);
        padding-bottom: 10px;
      }
      &__read {
        color: #b5b5b5;
        font-size: 13px;
        padding-bottom: 15px;
      }
      &__sns {
        align-items: center;
      }
      i{
        font-size: 20px;
        color: #fff;
      }
      .author-box__btn{
        width:  120px;
        border-radius: 3px;
        text-align: center;
        padding: 10px 0;
        margin-right: 10px;
      }
      .facebook__btn__small {
        background-color: #3d9bff;
      }
      .twitter__btn__small {
        background-color: #98e8ec;
      }
      .web__btn__small {
        background-color: $pink_02;
      }
    }
  }
  .sourcelink {
    @include fts(7,7);
    color: #b5b5b5;
    padding-bottom: 20px;
    a{
      color: #b5b5b5;
    }
  }
  .photo-info {
    @extend .sourcelink;
  }
  .external-link {
    padding: 20px;
    border: solid 1px #dadada;
    margin-bottom: 20px;
    color: #a7a7a7;
    font-size: 17px;
    i{
      padding-right: 10px;
    }
    &__title {
      @include listsTitle(10,1.4);
      padding-bottom: 0;
    }
  }
  .detail-balloon-box {
    padding-bottom:30px;
    padding-left: 30px;
    &__img img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border: solid 2px $yellow_02;
      border-radius: 50%;
      padding: 0;
    }
    &__title {
      text-align: center;
      font-size: 11px;
      width: 80px;
      line-height: 1.2;
      padding-top: 7px;
    }
    &__read {
      width: 591px;
      padding-left: 20px;
    }
  }
  .affiliate-ad {
    margin: 0 auto;
    padding-bottom: 30px;
    width: 750px;
  }
  .paging-nav {
    width: auto;
    background-color: $pink_01;
    &__container {
      padding: 20px;
    }
    &__head {
      padding-bottom: 10px;
      line-height: 3;
      &__txt {
        .next_title {
          padding: 0 15px;
        }
      }
      i {
        background-color: $pink_02;
        color: #fff;
        font-size: 37px;
        padding: 6px 9px;
      }
    }
    &__body {
      &__img img {
        width: 120px;
        height: 75px;
        object-fit: cover;
      }
      &__read {
        width: 170px;
        font-size: 11px;
        padding: 0 10px;
        font-weight: bold;
      }
    }
  }
  .wrote-models-lists{
    padding: 30px 0;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $border_color;
    border-bottom: 1px solid $border_color;
    &__header {
      @include fts(8,8);
      color: $font_sub_glay_color;
      letter-spacing: 1px;
      padding-right: 10px;
    }
  &__img {
    padding-right: 17px;
    img {
      height: 45px !important;
      width: 45px !important;
      -webkit-border-radius: 50% !important;
      -moz-border-radius: 50% !important;
      border-radius: 50% !important;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
    }
  }

    .author-profile-sns{
      line-height: 5px;
      height: 24px;
      vertical-align: middle;
      padding: 8px;
      border-radius: 5px;
      display: inline-block;
      background-color: #ffede9;
      color: #ffede9;
      letter-spacing: 1px;
      font-size: 15px;
      a {
        color: #ffa5a5;
        font-size: 10px;
        padding: 10px;
      }
    }
    &__name {
      padding-right: 15px;
      font-size: 13px;
      letter-spacing: 2px;
      color: #9c9c9c;
    }
  }

  .this-page {
    padding-bottom: 30px;
    .tag {
    margin-right: 12px;
    }
    &__tags a, .tag-cloud-link {
      padding: 8px;
      border-radius: 5px;
      display: inline-block;
      margin-bottom: 10px;
      background-color: #ffede9;
      color: $font_color_head;
      letter-spacing: 1px;
      font-size: 12px !important;
    }
  }
  .related-article {
    &__content {
      padding-bottom: 20px;
    }
    &__container::after{
      content:"";
      display: block;
      width:30%;
    }
    &__img {
      img {
        width: 235px;
        height: 150px;
        object-fit: cover;
      }
    }
    &__text {
      @include listsTitle(10,1.4);
      width: 235px;
    }
  }
.news-list{
  &__title {
    width: 157px;
    @include listsTitle(8,1.4);
    }
  }
}

/*

	bottom

*************************************************/

.articles__container__bottom {
  padding-bottom: 30px;
  width: 1093px;
  margin: 0 auto;
  .header-side{
    @extend .components-title;
  }
  .news-list {
    margin-right:50px;
    padding-bottom: 50px;
    &__thumb-img img {
      width: 125px;
      height: 80px;
      object-fit: cover;
    }
    &__title {
      width: 186px;
      padding-left: 15px;
      @include listsTitle(8.5,1.4);
    }
    &__content {
      padding-bottom: 15px;
    }
  }
  .bottom-popular{
    width: 720px;
    &__content {
      width: 208px;
      padding-bottom: 20px;
    }
    &__title {
      @include listsTitle(10,1.4);
    }
    &__thumb-img img {
      width: 100%;
      height: 129px;
      object-fit: cover;
    }
  }
  .news-articles {
    &__content {
      padding-top: 10px;
      width:23%;
    }
    &__container::before{
      content:"";
      display: block;
      width:23%;
      order:1;
    }
    &__container::after{
      content:"";
      display: block;
      width:23%;
    }
    &__img {
      img {
        width: 226px;
        height: 150px;
        object-fit: cover;
      }
    }
    &__text {
      @include fts(8, 8);
      padding: 10px 0;
      letter-spacing: 1px;
      font-weight: bold;
      line-height: 17px;
    }
  }
}





/*

	search page

*************************************************/
.search__not-find{
&__body{
  text-align: center;
  i.fa-exclamation-triangle{
    font-size: 66px;
    color: #6d6d6d;
    margin-bottom: 30px;
  }
}
}

/*

	pages

*************************************************/
.pages {
  .outer__inner{
    width: 1246px;
    margin: 0 auto;
  }
  &__container {
    width: 1010px;
    margin: 0 auto 80px auto
  }
  &__header {
    @include fts(12, 12);
    font-family: $font_family_jp;
    font-weight: bold;
    color: $font-color_head;
    padding: 30px 0;
  }
  &__read {
    padding-top: 40px;
    @include fts(10, 10);
    letter-spacing: 2.3px;
    line-height: 1.5;
    color: #b1b1b1;
    font-family: $font_family_jp;
    text-align: left;
    padding-bottom: 40px;
    width: 100%;
    margin: 0 auto;
    p{
      padding-bottom: 15px;
      color: #b1b1b1;
    }
    ul{
      margin-left: 14px;
      font-size: 11px;
      margin-bottom: 17px;
      color: #b1b1b1;
    }
  }
  &__date-info {
    width: 300px;
    margin-left: auto;
    text-align: right;
    padding-top: 20px;
    @include fts(8, 8);
    letter-spacing: 1px;
    color: #8c8c8c;
    p{
      padding-bottom:10px;
    }
  }
  .related-article__content {
    width: 23%;
  }
  .table-info {
    margin-bottom: 30px;
    @include fts(10, 10);
    font-family: $font_family_jp;
    letter-spacing: 1px;
    color: #b1b1b1;
    background-color: #fff !important;
    table {
      width: 940px;
      border: solid #c3c3c3 0.5px;
      margin: 0 auto;
      border-collapse: collapse;
      border-spacing: 0;
      td {
        width: 5px;
        padding: 20px 1px 20px 19px;
        line-height: 34px;
      }
      tr {
        border: solid #c3c3c3 0.5px;
      }
    }
  }
  .mission {
    padding:50px 0;
  }
}

/*

	about page

*************************************************/
.about-page {
  .pages__container {
    width: 879px;
  }
  .mission {
    padding-top: 50px;
    .yuka-sign__img {
      width: 110px;
      margin-left: auto;
      padding-bottom: 13px;
      img {
        width: 100%;
      }
    }
   &__icon__img img{
     width: 85px;
     position: absolute;
     top: 285px;
     right: 308px;
   }
  }
}

/*

	security page

*************************************************/
.security-policy {
  border: solid 1px #d2d1d1;
  padding: 90px;
  text-align: center;
  p.pages__read {
    line-height: 1.6;
    letter-spacing: 1.5px;
    padding-bottom: 0;
  }
}

/*

	error-page/404

*************************************************/
.error-page{
  .notfind__header {
    padding-bottom: 35px;
    &__img {
      width: 300px;
      margin: 0 auto;
      padding-bottom: 10px;
    }
    &__txt {
      color: #bdbdbd;
      @include fts(9, 9);
      letter-spacing: 1.1px;
      text-align: center;
    }
  }
  .notfind__body__img {
    width: 192px;
    margin: 0 auto;
    padding-bottom: 25px;
  }
  .notfind__btn {
    width: 200px;
    text-align: center;
    font-size: 13px;
    height: 48px;
    line-height: 42px;
    a{
      color: #fff;
      text-underline: none;
    }
  }
}

/*

service-page/ web & translate & contens

*************************************************/
.service-page{
  &__header {
    background-color: $yellow_01;
    height: 130px;
    padding-left: 40px;
    @include fts(20, 20);
    letter-spacing: 1px;
    line-height: 4.4;
    color: $White_01;
  }
    &__list {
      padding-bottom: 30px;
      &__detail{
        @extend.house-page__body__detail
      }
    }
    &__list__header {
      @include fts(16, 16);
      letter-spacing: 1px;
      border-bottom: solid 1px $border_color;
      padding: 10px 0;
      margin-bottom: 20px;
      font-family: $font_family_jp;
      color:$font-color_head;
    }
    &__list__body {
      color: $font_sub_glay_color;
      letter-spacing: 2px;
      margin-bottom: 30px;
    }
  &__web{
    &__bg-img{
      background-image: url(./images/service-web-bg.JPG);
      height: 446px;
      background-size: cover;
      background-position: 7px -675px;
    }
  }
  &__translate{
    &__bg-img{
      background-image: url(./images/service-translate-bg.JPG);
      height: 446px;
      background-size: cover;
      background-position: 6px -645px;
    }
  }
  &__contens{
    &__bg-img{
      background-image: url(./images/service-contens-bg.JPG);
      height: 446px;
      background-size: cover;
      background-position: 6px -249px;
    }
  }
}

/*

house-page/share-house＆real-estate

*************************************************/
.house-page{
  &__share-house-sp{
    display: none;
  }
  &__header {
    background-color: $blue_01;
    @include fts(20, 20);
    letter-spacing: 1px;
    padding: 30px 0 30px 40px;
    color: $White_01;
    &--jp {
      line-height: 1.7;
      @include fts(12, 12);
      color: #607071;
      margin-bottom: 5px;
      font-family: $font_family_jp;
    }
    &--en {
      @include fts(30, 30);
      line-height: 1;
      font-family: $font_family_en;
    }
    .sub-txt{
      width: 73px;
      font-size: 17px;
      border: solid #bdbdbd 0.5px;
      padding: 7px;
      vertical-align: middle;
      background-color: #fff;
      text-align: center;
      color: #ff846a;
    }
    .main-txt {
    font-size: 3rem;
    padding-left: 15px;
    }
  }
  &__body {
    &__container {
    text-align: center;
    padding-bottom: 50px;
    }
    &__container+&__container{
      border-top: solid 1px #d4d4d4;
    }
    &__img img {
      width: 323px;
      height: 250px;
      object-fit: cover;
      padding-bottom: 50px;
    }
    &__header {
      padding: 40px;
      letter-spacing: 1px;
      @include fts(18, 18);
      font-family: $font_family_jp;
      color:$font-color_head;
      text-align: center;
    }
    &__read {
        padding-bottom: 50px;
        text-align: start;
    }
  }
  &__share-house{
    &__bg-img{
      background-image: url(./images/hatching-house-pdx-bg.jpg);
      height: 446px;
      background-size: cover;
      background-position: 2px -284px;
    }
  }
  &__real-estate{
    &__bg-img{
      background-image: url(./images/hatching-real-estate-bg.jpg);
      height: 446px;
      background-size: cover;
      background-position: 2px -127px;
    }
  }
  &__body__detail {
    border: solid 1px #dadada;
    padding: 30px;
    margin-bottom: 33px;
    background-color: #f9f9f9;
}
}

/*

contact-form/comprnets

*************************************************/
.contact-form{
  padding-bottom: 80px;
  &__form {
    padding-top: 40px;
    text-align: center;
    padding-bottom: 50px;
  }
  &__header {
    background-color: $pink_01;
    height: 144px;
    padding-left: 40px;
    @include fts(20, 20);
    letter-spacing: 1px;
    line-height: 4.4;
    color: $White_01;
    &--jp {
      height: 19px;
      padding: 0;
      font-size: 22px;
      color: #ffffff;
      font-family: $font_family_jp;
    }
    &--en {
      @include fts(30, 30);
      line-height: 3;
      font-family: $font_family_en;
    }
  }
  .form-group {
    margin-bottom: 2rem;
    text-align: right;
  }
  .contact-form__img img {
    width: 109px;
  }
  .notice-box {
    padding: 20px;
    background-color: #bdbdbd33;
    width: 930px;
    margin: 0 auto;
    &__header {
      text-align: center;
      padding-bottom: 20px;
      color: $pink_02;
    }
    &__body{
      color: #797979;
      padding-bottom: 20px;
      margin: 0 auto;
      width: 750px;
      letter-spacing: 0.4px;
      span.contact-mailto a {
        color: $pink_02;
        text-decoration: underline;
      }
    }
  }
}

/*

bootstrap/comprnets

*************************************************/

.card-body.text-dark {
  padding: 1.25rem;
}
.card-footer {
  background-color: #fff;
  font-size: 12px;
  color: #9e9e9e;
}

/*

index

*************************************************/

.outer {
  &__header {
    padding: 0 40px;
  }
  &__inner {
    padding: 40px;
  }
  &__foot {
    width: 100%;
    margin: 0 auto;
  }

}
.footer {
  &__sns-icons img {
    width: 30px;
    height: 30px;
  }

}

.affiliate-ad-sp{
  display: none;
}

.header-side__img--sp{
  display: none;
}
.business-sp{
  display: none;
}

.annie-sp{
  display: none;
}

.alternate-banner {
  display: none;
}

.pages .news-articles__title{
  display: none;
}

.news-articles__container{
  padding-bottom: 15px;
}

.container {
  padding: $base_margin;
  min-width: $base_width;
}

.middle-contain {
    width: 70%;
  .bg-thumb-img {
    margin-bottom: 30px;
  }
  .box-list li {
    height: 100%;
  }
  .article-list {
    li {
      padding-bottom: 38px;
      width: 30%;
    }
    .newMark {
      padding: 8px 20px;
      letter-spacing: 3px;
    }
    &__img {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__text {
      .list-title {
        @include listsTitle(12,1.4);
        padding-bottom: 10px;
      }
      .icons {
        .icons__tag {
          background-color: $main_color;
          margin-right: 10px;
          color: #fff;
          @include fts(3, 3);
          @include border-radius(2px);
          padding: 4px 7px;
        }
      }
    }
  }
}






/*

index.page

*************************************************/

.index {
  .side-contain {
    width: 27%;
  }
}

ul.post-lists.article-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



.second-section{
  .eyechatchlabel{
    display: none;
  }
  ul.post-lists.article-list {
    display:block;
  }
  .post-lists__img.article-list__img img {
    width: 250px;
    height: 150px;
  }

  h3.post-lists__title.list-title {
    font-size: 18px;
  }

  p.list-read {
    font-size: 10px;
  }
}




/*

single.page

*************************************************/


.single-page {

  .header{
    .logo__img {
      padding-bottom: 20px;
    }
  }

  .middle-contain {
    width: 750px;
    margin-right: 60px;
  }


  &__eyecatch-img img {
    width: 750px;
    height: 380px;
    object-fit: cover;
  }

  &__eyecatch-img {
    padding: 30px 0;
  }

  &__entry-content {
    .detail-box02 {
      &__title {
        @include fts(9, 9);
        line-height: 21px;
      }
    }
  }
}

/*

recomend-list-part

*************************************************/
.side-contain {
  .news-list {
    .eyechatchlabel{
      display: none;
    }
    &__thumb-img {
      padding-right: 3px;
      img {
        width: 135px;
        height: 100px;
        object-fit: cover;
      }
    }
  }
  &__title {
    @include fts(8, 9);
    width: 164px;
  }
}

.recommend-list {
  &__thumb-img {
    width: 100px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/*

category-page

*************************************************/

.category-page ,.tag-page{
  .logo__img {
    padding-bottom: 30px;
  }
}

/*

 error-page

*************************************************/
.error-page{
  .pages__container{
    padding:20px 0;
    margin-bottom:0;
  }
}

/*

   side-part
*************************************************/
.side-contain {
  .news-list {
    &__container{
      padding-bottom:50px;
    }
    &__header{
      padding-left: 10px;
    }
    &__title {
      width: 164px;
      @include listsTitle(9,1.4);

    }
    &__content{
      padding-bottom: 20px;
    }
    span.views{
      display: inline-block;
      font-size: 13px;
      color: #f2695d;
      background-color: #fff5f5;
      padding: 3px 10px;
      letter-spacing: 1px;
      border-radius: 6px;
      margin-bottom: 10px;
    }
  }
  .header-side{
    padding-bottom: 20px;
    justify-content: center;
    &__img {
      width: 21px;
    }
    &__txt {
      &--en{
        font-size: 17px;
        letter-spacing: 1px;
        padding: 2px 8px 0 15px;
        color: #333;
        font-family: $font_family_en;
      }
      &--jp {
        padding-right:15px;
        padding-top: 6px;
        font-size: 11px;
        letter-spacing: 1px;
      }
    }
  }
}
